@import '~src/variables.scss';

div.product-viewer {
    margin-left: 24rem;
    table {
        button {
            width: 6rem;
        }

        td {
            padding: .8rem;

            &.btn-groups {
                padding: .2rem;
            }
        }
    }
}
