<app-left-sidebar></app-left-sidebar>
<div *ngIf="activeReleaseCenter" class="product-viewer text-center">
    <h1 class="p-3">{{activeReleaseCenter?.name}}</h1>
    <div class="container">
        <button class="btn-circle ml-3 mb-3 btn-blue float-right" *ngIf="canAddProduct()" data-toggle="tooltip" title="Add New Product" (click)="addProductName.value = ''; message = ''; openModal('add-product-modal')"><i class="material-icons">add</i></button>
        <table class="table table-bordered" *ngIf="productsLoading">
            <tr>
                <th>Product</th>
            </tr>
            <tr>
                <td><div class="font-weight-bold loading">Loading</div></td>
            </tr>
        </table>
        <table class="table table-bordered table-sortable" [hidden]="productsLoading">
            <tr>
                <th [appSort] (sortClick)="handleSortClick($event)" [ngClass]="{'asc': sortDirection === 'asc', 'desc': sortDirection === 'desc'}">Product</th>
                <th class="max-vw-15"></th>
            </tr>
            <tr *ngIf="products?.length === 0">
                <td colspan="2">No products found.</td>
            </tr>
            <tr *ngFor="let product of products | paginate: {id: 'products_table', itemsPerPage: pageSize, currentPage: pageNumber, totalItems: totalProduct}" (click)="onSelectProduct()" routerLink="/{{activeReleaseCenter.id}}/{{product.id}}">
                <td class="pb-0 text-left">{{product?.name}}</td>
                <td class="pb-0 btn-groups">
                    <div class="input-group pl-4 justify-content-start">
                        <button class="btn-circle btn-green" *ngIf="canAddProduct()" (click)="openUpdateConfigurationsModal(product); $event.stopPropagation()" title="Update Configurations"><i class="material-icons">edit</i></button>
                        <button class="btn-circle  ml-3" [ngClass]="{'btn-light-red': !productsWithManifestUploaded.includes(product.id), 'btn-green': productsWithManifestUploaded.includes(product.id)}" (click)="loadManifestFile(product); $event.stopPropagation()" title="{{!productsWithManifestUploaded.includes(product.id) ? 'The manifest has not yet been uploaded' : 'View Manifest File'}}"><i class="material-icons">insert_drive_file</i></button>
                        <button class="btn-circle btn-blue ml-3" *ngIf="!product.manifestFileUploading && canAddProduct()" (click)="checkManifestFile(product); $event.stopPropagation()" title="Upload Manifest File"><i class="material-icons">publish</i></button>
                        <div *ngIf="product.manifestFileUploading" class="badge loading">Uploading</div>
                        <button class="btn-circle btn-mandy ml-3" *ngIf="canAddProduct()" (click)="openProductVisibilityModal(product); $event.stopPropagation()" title="Hide Product"><i class="material-icons">visibility_off</i></button>
                    </div>
                </td>
            </tr>
        </table>
        <pagination-controls id="products_table"
                      (pageChange)="handlePageChange($event)"
                      directionLinks="true"
                      autoHide="true"
                      responsive="true"
                      previousLabel="Previous"
                      nextLabel="Next"
                      *ngIf="totalProduct !== 0">
        </pagination-controls>
        <input class="d-none" #uploadManifestFileInput type="file" (change)="uploadManifestFile($event)">
    </div>
</div>

<!-- ADD MODAL -->
<app-modal id="add-product-modal" class="modal add-modal">
    <h3 header class="mb-0">Create New Product</h3>
    <div body class="text-center p-5">
        <p>Please enter Product Name for the new Product</p>
        <input #addProductName class="w-75 rounded-lg p-2" type="text" placeholder="Product Name">
    </div>
    <div footer>
        <button type="button" class="btn-sea-buckthorn" [disabled]="savingProduct" (click)="closeModal('add-product-modal')">Cancel</button>
        <button type="button" class="btn-blue" [disabled]="savingProduct" (click)="createProduct(addProductName.value)">Save</button>
    </div>
</app-modal>

<app-modal id="manifest-confirmation-modal" class="modal add-modal">
    <h3 header class="mb-0">Confirmation</h3>
    <div body class="text-center p-5">
        <p>The manifest file already exists (<a [routerLink]="" (click)="loadManifestFile(selectedProduct)">see manifest.xml</a>). Replace it?</p>
    </div>
    <div footer>
        <button type="button" class="btn-sea-buckthorn" (click)="closeModal('manifest-confirmation-modal')">No</button>
        <button type="button" class="btn-blue" (click)="openUploadManifestFileDialog(); closeModal('manifest-confirmation-modal')">Yes</button>
    </div>
</app-modal>

<!-- UPDATE MODAL -->
<app-modal id="update-product-modal" class="modal update-modal" size="large">
    <h3 header class="mb-0">Product Configurations</h3>
    <div body class="text-center p-5">
        <h3 class="mb-4">{{editedProduct.name}}</h3>
        <div class="row mx-0 mb-2">
            <div class="col-12 text-left">
                <p class="mx-sm-3 font-italic">See&nbsp;<a href="https://confluence.ihtsdotools.org/pages/viewpage.action?spaceKey=RMT&title=SRS+Script+Client+parameter+documentation">confluence</a>&nbsp;page for more information about these prarmeters.</p>
            </div>
        </div>
        <div class="row mx-0">
            <div class="col-12 text-left">
                <div class="form-group mx-sm-3 mb-0 mt-0">
                    <label class="font-weight-bold">Effective Time
                        <span class="font-weight-light" title="The effective date of the release. Please ensure that this value matches the effective date in RF2 filenames in the manifest file. EXample: 2015-07-31">(?)</span>
                    </label>
                    <input type="text" class="w-25 rounded-lg p-2" bsDatepicker [(bsValue)]="editedProduct.buildConfiguration.effectiveTime" [bsConfig]="{dateInputFormat: 'YYYY-MM-DD'}">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold">Default Branch
                        <span class="font-weight-light" title="The branch path of Term server which will be used for exporting Delta files. It may be empty if the product is a Derivative product which will be getting the Delta files from the local input files">(?)</span>
                    </label>
                    <input type="text" class="rounded-lg p-2" [(ngModel)]="editedProduct.buildConfiguration.defaultBranchPath">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold align-top">Readme Header
                        <span class="font-weight-light" title="The readme header which will be used in Readme.txt">(?)</span>
                    </label>
                    <textarea rows="5" [(ngModel)]="editedProduct.buildConfiguration.readmeHeader"></textarea>
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-0">
                    <label class="font-weight-bold">Readme End Date
                        <span class="font-weight-light" title="The year of release. Example: 2015">(?)</span>
                    </label>
                    <input type="number" class="w-25 rounded-lg p-2" [(ngModel)]="editedProduct.buildConfiguration.readmeEndDate">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold">First Time Release
                        <span class="font-weight-light" title="Indicates whether or not this is a first time release for a given product">(?)</span>
                    </label>
                    <input type="checkbox" [(ngModel)]="editedProduct.buildConfiguration.firstTimeRelease">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-2">
                    <label class="font-weight-bold">Just Package
                        <span class="font-weight-light" title="Indicates if the input files should just be packaged up (with no processing applied to them)">(?)</span>
                    </label>
                    <input type="checkbox" [(ngModel)]="editedProduct.buildConfiguration.justPackage">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold">Beta Release
                        <span class="font-weight-light" title="Indicate whether or not the release is a beta release">(?)</span>
                    </label>
                    <input type="checkbox" [(ngModel)]="editedProduct.buildConfiguration.betaRelease">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold">Input Files Fixes Required
                        <span class="font-weight-light" title="Indicates whether  or not input file fixes are required">(?)</span>
                    </label>
                    <input type="checkbox" [(ngModel)]="editedProduct.buildConfiguration.inputFilesFixesRequired">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold">Create Legacy Ids
                        <span class="font-weight-light" title="Indicates whether or not to create the CTV3 ID’s in the simpleMap refset files">(?)</span>
                    </label>
                    <input type="checkbox" [(ngModel)]="editedProduct.buildConfiguration.createLegacyIds">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold">Use Classifier Precondition Checks
                        <span class="font-weight-light" title="Allows classification in the preCondition checks">(?)</span>
                    </label>
                    <input type="checkbox" [(ngModel)]="editedProduct.buildConfiguration.useClassifierPreConditionChecks">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold">Classify Output Files
                        <span class="font-weight-light" title="Indicates whether or not to run a classification against the output files">(?)</span>
                    </label>
                    <input type="checkbox" [(ngModel)]="editedProduct.buildConfiguration.classifyOutputFiles">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold">Release As An Edition
                        <span class="font-weight-light" title="Indicates whether the release build is an edition release or not">(?)</span>
                    </label>
                    <input type="checkbox" [(ngModel)]="editedProduct.buildConfiguration.extensionConfig.releaseAsAnEdition">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-0">
                    <label class="font-weight-bold">Custom Refset Composite Keys</label>
                    <input type="text" class="rounded-lg p-2" [(ngModel)]="customRefsetCompositeKeys">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold">New RF2 Input Files
                        <span class="font-weight-light" title="The new files to be released for the first time for an existing product in subsequent releases">(?)</span>
                    </label>
                    <input type="text" class="rounded-lg p-2" [(ngModel)]="editedProduct.buildConfiguration.newRF2InputFiles">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold">Previous Published Release
                        <span class="font-weight-light" title="Passes the previous published package name to the SRS">(?)</span>
                    </label>
                    <input type="text" class="rounded-lg p-2" [(ngModel)]="editedProduct.buildConfiguration.previousPublishedPackage">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold">Previous International Release
                        <span class="font-weight-light" title="Passes the previous international release version to the RVF for QA testing">(?)</span>
                    </label>
                    <input type="text" class="rounded-lg p-2" [(ngModel)]="editedProduct.qaTestConfig.previousInternationalRelease">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold">Previous Extension Release
                        <span class="font-weight-light" title="Passes the previous extension release version to the RVF for  QA testing">(?)</span>
                    </label>
                    <input type="text" class="rounded-lg p-2" [(ngModel)]="editedProduct.qaTestConfig.previousExtensionRelease">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold">Extension Dependency Release
                        <span class="font-weight-light" title="Passes the international release version (that the extension is dependent upon) to the RVF for QA testing">(?)</span>
                    </label>
                    <input type="text" class="rounded-lg p-2" [(ngModel)]="editedProduct.qaTestConfig.extensionDependencyRelease">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold">Dependency Release Package
                        <span class="font-weight-light" title="The published international release package which an extension release is dependent on">(?)</span>
                    </label>
                    <input type="text" class="rounded-lg p-2" [(ngModel)]="editedProduct.buildConfiguration.extensionConfig.dependencyRelease">
                </div>

                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label style="vertical-align: top; margin-bottom: 0px;" class="font-weight-bold">Previous Edition Dependency Effective Date
                        <span class="font-weight-light" title="The Previous Edition Dependency Effective Date is the Date of the International Edition BEFORE the &quot;Previous International Release&quot; and &quot;Dependency Release Package&quot; date.  This field should ONLY be used for true &quot;Edition&quot; release packages">(?)</span>
                    </label>
                    <input style="vertical-align: top" [disabled]="!editedProduct.buildConfiguration.extensionConfig.releaseAsAnEdition" type="text" class="w-25 rounded-lg p-2" bsDatepicker [(bsValue)]="editedProduct.buildConfiguration.extensionConfig.previousEditionDependencyEffectiveDate" [bsConfig]="{dateInputFormat: 'YYYY-MM-DD'}">
                </div>

                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold">Included Previous Release Files
                        <span class="font-weight-light" title="Only used when combining different Delta files from previous releases into a new Delta release files using syntax format &quot;newFileName|(oldFile1, oldFile2, ...)&quot;. Most of the time, it should be left empty">(?)</span>
                    </label>
                    <input type="text" class="rounded-lg p-2" [(ngModel)]="editedProduct.buildConfiguration.includePrevReleaseFiles">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold">Excluded Refset Descriptor members
                        <span class="font-weight-light" title="The Refset Descriptor exclusion list which is a comma separated string of member IDs. Example: uuid1,uuid2,...">(?)</span>
                    </label>
                    <input type="text" class="rounded-lg p-2" [(ngModel)]="editedProduct.buildConfiguration.excludeRefsetDescriptorMembers">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold">Excluded Language refsets
                        <span class="font-weight-light" title="Set of language refset IDs separated by comma. Example: refsetId1,refsetId2,...">(?)</span>
                    </label>
                    <input type="text" class="rounded-lg p-2" [(ngModel)]="editedProduct.buildConfiguration.excludeLanguageRefsetIds">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold">Namespace ID
                        <span class="font-weight-light" title="The namespace id for a given extension release">(?)</span>
                    </label>
                    <input type="number" class="w-25 rounded-lg p-2" [(ngModel)]="editedProduct.buildConfiguration.extensionConfig.namespaceId">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold">Module ID
                        <span class="font-weight-light" title="The module id for a given extension release">(?)</span>
                    </label>
                    <input type="number" class="w-25 rounded-lg p-2" [(ngModel)]="editedProduct.buildConfiguration.extensionConfig.moduleId">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold">Assertion Groups
                        <span class="font-weight-light" title="Passes the assertion group name(s) to the RVF for QA testing">(?)</span>
                    </label>
                    <input type="text" class="rounded-lg p-2" [(ngModel)]="editedProduct.qaTestConfig.assertionGroupNames">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold">Enable Drools
                        <span class="font-weight-light" title="Passes to RVF to enable the validations with Drools rules">(?)</span>
                    </label>
                    <input type="checkbox" [(ngModel)]="editedProduct.qaTestConfig.enableDrools">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold">Drools Rules Group Names
                        <span class="font-weight-light" title="Passes to RVF to run validation using Drools rules if the Enable Drools flag is checked. Values are a list of Drools rules groups separated by a comma">(?)</span>
                    </label>
                    <input type="text" class="rounded-lg p-2" [(ngModel)]="editedProduct.qaTestConfig.droolsRulesGroupNames">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold">Enable MRCM
                        <span class="font-weight-light" title="Passes to RVF to enable the validations with MRCM Validator">(?)</span>
                    </label>
                    <input type="checkbox" [(ngModel)]="editedProduct.qaTestConfig.enableMRCMValidation">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold">Concept Preferred Terms
                        <span class="font-weight-light" title="Provide a list of conceptID and FSN's which will be used for the included modules + language refsets in the Release Package Information file">(?)</span>
                    </label>
                    <input type="text" class="rounded-lg p-2" [(ngModel)]="editedProduct.buildConfiguration.conceptPreferredTerms">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold align-top">Release Information Fields
                        <span class="font-weight-light" title="Define the list of fields in JSON format which will be inlcuded in the Release Package Information file">(?)</span>
                    </label>
                    <textarea rows="5" style="resize: vertical;" [(ngModel)]="editedProduct.buildConfiguration.additionalReleaseInformationFields"></textarea>
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold align-top">License Statement
                        <span class="font-weight-light" title="The licence statement which will be used in the Release Package Information file">(?)</span>
                    </label>
                    <textarea rows="5" style="resize: vertical;" [(ngModel)]="editedProduct.buildConfiguration.licenceStatement"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div footer>
        <button type="button" class="btn-sea-buckthorn" [disabled]="savingProduct" (click)="closeModal('update-product-modal')">Cancel</button>
        <button type="button" class="btn-blue" [disabled]="savingProduct" (click)="updateProduct(editedProduct, customRefsetCompositeKeys)">Save</button>
    </div>
</app-modal>

<app-modal id="product-success-modal" class="modal success-modal">
    <h3 header class="mb-0">Success</h3>
    <div body class="text-center p-5">
        <div class="text-left success pl-0"><i class="material-icons">check_circle</i>&nbsp;<div class="d-inline position-absolute pt-2">{{message}}</div></div>
    </div>
    <div footer>
        <button type="button" class="btn-sea-buckthorn" (click)="closeModal('product-success-modal')">Ok</button>
    </div>
</app-modal>

<app-modal id="product-creation-success-modal" class="modal product-creation-success-modal success-modal">
    <h3 header class="mb-0">Success</h3>
    <div body class="text-center p-5">
        <div class="text-left success pl-0"><i class="material-icons">check_circle</i>&nbsp;<div class="d-inline position-absolute pt-2">{{message}}</div></div>
    </div>
    <div footer>
        <button type="button" class="btn-sea-buckthorn" (click)="closeModal('product-creation-success-modal')">Cancel</button>
        <button type="button" class="btn-blue" (click)="openUpdateConfigurationsModal(selectedProduct); closeModal('product-creation-success-modal')">Configure Product</button>
    </div>
</app-modal>

<app-modal id="product-error-modal" class="modal error-modal">
    <h3 header class="mb-0">Error</h3>
    <div body class="text-center p-5">
        <div class="text-left error pl-0"><i class="material-icons">cancel</i>&nbsp;<div class="d-inline position-absolute pt-2">{{message}}</div></div>
    </div>
    <div footer>
        <button type="button" class="btn-sea-buckthorn" (click)="closeModal('product-error-modal')">Ok</button>
    </div>
</app-modal>

<app-modal id="hide-product-confirmation-modal" class="modal add-modal">
    <h3 header class="mb-0">Confirmation</h3>
    <div body class="text-center p-5">
        <p>Do you want to hide the product '{{selectedProduct?.name}}'?</p>
    </div>
    <div footer>
        <button type="button" class="btn-sea-buckthorn" (click)="closeModal('hide-product-confirmation-modal')">No</button>
        <button type="button" class="btn-blue" (click)="hideProduct()">Yes</button>
    </div>
</app-modal>

<!--Waiting Model-->
<app-modal id="product-waiting-modal" class="modal" hideHeader="true" hideFooter="true" disableBackgroundClickEvent="true" size="small">
    <div body class="text-left p-5 text-center">
        <div class="font-weight-bold loading">{{action}}</div>
    </div>
</app-modal>