<app-left-sidebar></app-left-sidebar>
<div *ngIf="activeReleaseCenter" class="product-viewer text-center">
    <h1 class="p-3">{{activeReleaseCenter?.name}}</h1>        
    <div class="container">        
        <button class="btn-circle ml-3 mb-3 btn-blue float-right" data-toggle="tooltip" title="Add New Product" (click)="addProductName.value = ''; saveResponse = ''; openModal('add-product-modal')"><i class="material-icons">add</i></button>
        <div class="text-left error pl-0" *ngIf="errorMessage">{{errorMessage}}</div>
        <table class="table table-bordered" *ngIf="productsLoading">
            <tr>
                <th>Product</th>
                <th>Status</th>
                <th>Tag</th>
                <th class="w-15"></th>
            </tr>
            <tr>
                <td colspan="4"><div class="font-weight-bold loading">Loading</div></td>
            </tr>           
        </table>
        <table class="table table-bordered" *ngIf="!productsLoading">
            <tr>
                <th>Product</th>
                <th>Status</th>
                <th>Tag</th>
                <th class="mw-15"></th>
            </tr>
            <tr *ngIf="products?.length === 0">
                <td colspan="4">No products found.</td>
            </tr>
            <tr *ngFor="let product of products | paginate: {id: 'products_table', itemsPerPage: 10, currentPage: p, totalItems: products?.length}" routerLink="/{{activeReleaseCenter.id}}/{{product.id}}">
                <td class="pb-0 text-left">{{product?.name}}</td>
                <td class="pb-0">{{product?.latestBuildStatus}}</td>
                <td class="pb-0">{{product?.latestTag}}</td>
                <td class="pb-0 btn-groups ">
                    <div class="input-group pl-4 justify-content-start">
                        <button class="btn-circle btn-green" (click)="openUpdateConfigurationsModal(product); $event.stopPropagation()" title="Update Configurations"><i class="material-icons">edit</i></button>
                        <button class="btn-circle btn-blue ml-3" *ngIf="!product.manifestFileUploading" (click)="checkManifestFile(product); $event.stopPropagation()" title="Upload Manifest File"><i class="material-icons">publish</i></button>
                        <div *ngIf="product.manifestFileUploading" class="badge loading">Uploading</div>
                    </div>                                                            
                </td>
            </tr>
        </table>
        <pagination-controls id="products_table"
                      (pageChange)="p = $event"
                      maxSize="100"
                      directionLinks="true"
                      autoHide="true"
                      responsive="true"
                      previousLabel="Previous"
                      nextLabel="Next"
                      *ngIf="!productsLoading">
        </pagination-controls>
        <input class="d-none" #uploadManifestFileInput type="file" (change)="uploadManifestFile($event)">
    </div>
</div>

<!-- ADD MODAL -->
<app-modal id="add-product-modal" class="modal add-modal">
    <h3 header class="mb-0">Create New Product</h3>
    <div body class="text-center p-5">
        <p>Please enter Product Name for the new Product</p>
        <input #addProductName class="w-75 rounded-lg p-2" type="text" placeholder="Product Name">
    </div>

    <div footer>
        <div [@slide]="saved" class="px-3 error" [class.d-none]="saveResponse?.length===0">{{saveResponse}}</div>
        <button type="button" class="btn-sea-buckthorn" [disabled]="savingProduct" (click)="closeModal('add-product-modal')">Cancel</button>
        <button type="button" class="btn-blue" [disabled]="savingProduct" (click)="createProduct(addProductName.value)">Save</button>
    </div>
</app-modal>

<app-modal id="manifest-confirmation-modal" class="modal add-modal">
    <h3 header class="mb-0">Confirmation</h3>
    <div body class="text-center p-5">
        <p>The manifest file already exists. Do you want to replace it?</p>
    </div>
    <div footer>
        
        <button type="button" class="btn-sea-buckthorn" (click)="closeModal('manifest-confirmation-modal')">No</button>
        <button type="button" class="btn-blue" (click)="openUploadManifestFileDialog(); closeModal('manifest-confirmation-modal')">Yes</button>
    </div>
</app-modal>

<!-- UPDATE MODAL -->
<app-modal id="update-product-modal" class="modal update-modal" size="large">
    <h3 header class="mb-0">Product Configurations</h3>    
    <div body class="text-center p-5">
        <h3 class="mb-4">{{editedProduct.name}}</h3>
        <div class="row mx-0 mb-2">
            <div class="col-12 text-left">
                <p class="mx-sm-3 font-italic">See&nbsp;<a href="https://confluence.ihtsdotools.org/pages/viewpage.action?spaceKey=RMT&title=SRS+Script+Client+parameter+documentation">confluence</a>&nbsp;page for more information about these prarmeters.</p>
            </div>
        </div>   
        <div class="row mx-0">
            <div class="col-12 text-left">
                <div class="form-group mx-sm-3 mb-0 mt-0">
                    <label class="w-25 font-weight-bold">Effective Time</label>
                    <input type="text" class="w-25 rounded-lg p-2" bsDatepicker [(bsValue)]="editedProduct.buildConfiguration.effectiveTime" value="{{ editedProduct.buildConfiguration.effectiveTime | date:'yyyy-MM-dd' }}">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="w-25 font-weight-bold">Default Branch</label>
                    <input type="text" class="rounded-lg p-2" [(ngModel)]="editedProduct.buildConfiguration.defaultBranchPath">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="w-25 font-weight-bold align-top">Readme Header</label>
                    <textarea rows="5" [(ngModel)]="editedProduct.buildConfiguration.readmeHeader"></textarea>
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-0">
                    <label class="w-25 font-weight-bold">Readme End Date</label>
                    <input type="number" class="w-25 rounded-lg p-2" [(ngModel)]="editedProduct.buildConfiguration.readmeEndDate">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="w-25 font-weight-bold">First Time Release</label>
                    <input type="checkbox" [(ngModel)]="editedProduct.buildConfiguration.firstTimeRelease">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-2">
                    <label class="w-25 font-weight-bold">Just Package</label>
                    <input type="checkbox" [(ngModel)]="editedProduct.buildConfiguration.justPackage">
                </div>                
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="w-25 font-weight-bold">Beta Release</label>
                    <input type="checkbox" [(ngModel)]="editedProduct.buildConfiguration.betaRelease">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="w-25 font-weight-bold">Input Files Fixes Required</label>
                    <input type="checkbox" [(ngModel)]="editedProduct.buildConfiguration.inputFilesFixesRequired">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="w-25 font-weight-bold">Create Lagacy Ids</label>
                    <input type="checkbox" [(ngModel)]="editedProduct.buildConfiguration.createLegacyIds">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="w-25 font-weight-bold">Use Classifier Precondition Checks</label>
                    <input type="checkbox" [(ngModel)]="editedProduct.buildConfiguration.useClassifierPreConditionChecks">
                </div>                
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="w-25 font-weight-bold">Classify Output Files</label>
                    <input type="checkbox" [(ngModel)]="editedProduct.buildConfiguration.classifyOutputFiles">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="w-25 font-weight-bold">Release As An Edition</label>
                    <input type="checkbox" [(ngModel)]="editedProduct.buildConfiguration.extensionConfig.releaseAsAnEdition">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-0">
                    <label class="w-25 font-weight-bold">Custom Refset Composite Keys</label>
                    <input type="text" class="rounded-lg p-2" [(ngModel)]="customRefsetCompositeKeys">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="w-25 font-weight-bold">New RF2 Input Files</label>
                    <input type="text" class="rounded-lg p-2" [(ngModel)]="editedProduct.buildConfiguration.newRF2InputFiles">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="w-25 font-weight-bold">Previous Published Release</label>
                    <input type="text" class="rounded-lg p-2" [(ngModel)]="editedProduct.buildConfiguration.previousPublishedPackage">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="w-25 font-weight-bold">Previous International Release</label>
                    <input type="text" class="rounded-lg p-2" [(ngModel)]="editedProduct.qaTestConfig.previousInternationalRelease">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="w-25 font-weight-bold">Previous Extension Release</label>
                    <input type="text" class="rounded-lg p-2" [(ngModel)]="editedProduct.qaTestConfig.previousExtensionRelease">
                </div>                
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="w-25 font-weight-bold">Extension Dependency Release</label>
                    <input type="text" class="rounded-lg p-2" [(ngModel)]="editedProduct.qaTestConfig.extensionDependencyRelease">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="w-25 font-weight-bold">Dependency Release Package</label>
                    <input type="text" class="rounded-lg p-2" [(ngModel)]="editedProduct.buildConfiguration.extensionConfig.dependencyRelease">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="w-25 font-weight-bold">Included Previous Release Files</label>
                    <input type="text" class="rounded-lg p-2" [(ngModel)]="editedProduct.buildConfiguration.includePrevReleaseFiles">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="w-25 font-weight-bold">Namespace ID</label>
                    <input type="text" class="rounded-lg p-2" [(ngModel)]="editedProduct.buildConfiguration.extensionConfig.namespaceId">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="w-25 font-weight-bold">Module ID</label>
                    <input type="text" class="rounded-lg p-2" [(ngModel)]="editedProduct.buildConfiguration.extensionConfig.moduleId">
                </div>                
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="w-25 font-weight-bold">Assertion Groups</label>
                    <input type="text" class="rounded-lg p-2" [(ngModel)]="editedProduct.qaTestConfig.assertionGroupNames">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="w-25 font-weight-bold">Enable Drools</label>
                    <input type="checkbox" [(ngModel)]="editedProduct.qaTestConfig.enableDrools">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="w-25 font-weight-bold">Drools Rules Group Names</label>
                    <input type="text" class="rounded-lg p-2" [(ngModel)]="editedProduct.qaTestConfig.droolsRulesGroupNames">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="w-25 font-weight-bold">Enable MRCM</label>
                    <input type="checkbox" [(ngModel)]="editedProduct.qaTestConfig.enableMRCMValidation">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="w-25 font-weight-bold">Enable JIRA</label>
                    <input type="checkbox" [(ngModel)]="editedProduct.qaTestConfig.jiraIssueCreationFlag">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="w-25 font-weight-bold">JIRA Product Name</label>
                    <input type="text" class="rounded-lg p-2" [(ngModel)]="editedProduct.qaTestConfig.productName">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="w-25 font-weight-bold">JIRA Reporting Stage</label>
                    <input type="text" class="rounded-lg p-2" [(ngModel)]="editedProduct.qaTestConfig.reportingStage">
                </div>                
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="w-25 font-weight-bold">Release Information Fields</label>
                    <input type="text" class="rounded-lg p-2" [(ngModel)]="editedProduct.buildConfiguration.releaseInformationFields">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="w-25 font-weight-bold">Concept Preferred Terms</label>
                    <input type="text" class="rounded-lg p-2" [(ngModel)]="editedProduct.buildConfiguration.conceptPreferredTerms">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="w-25 font-weight-bold align-top">License Statement</label>
                    <textarea rows="5" [(ngModel)]="editedProduct.buildConfiguration.licenceStatement"></textarea>
                </div>
            </div>            
        </div>        
    </div>
    <div footer>
        <div [@slide]="saved" class="px-3 error" [class.d-none]="saveResponse?.length===0">{{saveResponse}}</div>
        <button type="button" class="btn-sea-buckthorn" [disabled]="savingProduct" (click)="closeModal('update-product-modal')">Cancel</button>
        <button type="button" class="btn-blue" [disabled]="savingProduct" (click)="updateProduct(editedProduct, customRefsetCompositeKeys)">Save</button>
    </div>
</app-modal>

