@import '~src/variables.scss';

div.product-viewer {
    margin-left: 24rem;
    height: calc(100vh - 12rem);
    overflow: auto;

    div.error {
        color: $mandy;
        padding: .75rem;
    }

    table {
        td {
            padding: 1.1rem .8rem .8rem .8rem;

            &.btn-groups{
                padding: .3rem;
            }
            div.badge {
                background-color: $blue;
            }
        }
    }
}
app-modal {
    &.add-modal {
        input, select , select:focus{
            border: 1px $ghost-grey solid;
        }
    }
    &.success-modal {
        div.success i {
            color:$fruit-salad;
        }
    }
    &.error-modal {
        div.error i {
            color:$mandy;
        }
    }
    &.product-creation-success-modal {
        button.btn-blue {
            width: 12rem;
        }

    }
    &.update-modal {
        input, select , textarea, select:focus{
            border: 1px $ghost-grey solid;
        }
        input[type=text], textarea {
            width: 75%;
        }
        textarea {
            white-space: pre-line;
        }
    }
}
