<div class="build-viewer text-center">    
    <div class="container">
        <h2 class="mt-3 text-left">{{product?.name}}</h2>
        <div class="text-right"><button type="button text-right" class="btn-edit ml-3 my-1 mr-1">Run New Build</button></div>
        <div class="panel-top mb-3">
            <a class="position-absolute link-back" routerLink="/{{releaseCenterKey}}">
                <span class="font-weight-bold">&lt;&lt;&nbsp;</span> Back To Release Center
            </a>            
            <div class="panel-header text-left pl-2 pt-3"><span class="font-weight-bold">{{buildLoading ? 'Loading...' : activeBuild.id}}</span></div>
            <div>
                <div class="row mx-0">
                    <div class="col-6 text-left">
                        <div class="form-group mx-sm-3 mb-2 mt-2">
                            <label class="w-25 font-weight-bold">Effective Time:</label>
                            <span class="font-weight-bold">{{buildLoading ? '' : activeBuild.configuration?.effectiveTime}}</span>
                        </div>
                        <div class="form-group mx-sm-3 mb-2 mt-2">
                            <label class="w-25 font-weight-bold">Export Type:</label>
                            <span class="font-weight-bold">{{buildLoading ? '' : 'PUBLISHED'}}</span>
                        </div>
                        <div class="form-group mx-sm-3 mb-2 mt-2">
                            <label class="w-25 font-weight-bold">Branch:</label>
                            <span class="font-weight-bold">{{buildLoading ? '' : 'MAIN'}}</span>
                        </div>
                        <div class="form-group mx-sm-3 mb-2 mt-2">
                            <label class="w-25 font-weight-bold">Failure Max:</label>
                            <span class="font-weight-bold">{{buildLoading ? '' : '100'}}</span>
                        </div>
                    </div>
                    <div class="col-6 text-left">
                        <div class="form-group mx-sm-3 mb-2 mt-2">
                            <label class="w-25 font-weight-bold">Status:</label>
                            <span class="font-weight-bold">{{buildLoading ? '' : activeBuild.status}}</span>
                        </div>
                        <div class="form-group mx-sm-3 mb-2 mt-2 mb-5">
                            <label class="w-25 font-weight-bold"></label>
                            <button type="button" class="btn-add" [disabled]="buildLoading">View Process</button>
                            <button type="button" class="btn-delete ml-3" [disabled]="activeBuild.status !== 'BUILD' || buildLoading">Stop Build</button>
                        </div>                        
                        <div class="form-group mx-sm-3 mb-2 mt-2 mb-3">
                            <label class="w-25 font-weight-bold">Result:</label>                            
                            <button type="button" class="btn-edit" [disabled]="buildLoading">Publish Build</button>
                            <button type="button" class="btn-delete ml-3" [disabled]="buildLoading">Delete Build</button>
                        </div>
                    </div>
                </div>
                
            </div>    
            <div class="panel-footer text-right">
                <button type="button" class="btn-add" [disabled]="buildLoading">Download</button>
                <button type="button" class="btn-cancel ml-3 my-1" [disabled]="buildLoading">View Log</button>
                <button type="button" class="btn-add ml-3 my-1">View All</button>
                <button type="button" class="btn-edit ml-3 my-1 mr-1" [disabled]="buildLoading">Re-Run</button>
            </div>
        </div>    
        <table class="table table-bordered">
            <tr>
                <th>Build Date</th>
                <th>Status</th>
                <th>User</th>
                <th>Log</th>
                <th>Release</th>
                <th>Tag</th>
            </tr>
            <tr *ngFor="let build of builds" (click)="selectBuild(build)" [class.active]="activeBuild === build">
                <td>{{build?.id}}</td>
                <td>{{build?.status}}</td>
                <td>{{build?.buildUser}}</td>
                <td></td>
                <td></td>
                <td>{{build?.tag}}</td>
            </tr>
        </table>
    </div>
</div>