@import '~src/variables.scss';

div.build-viewer {   
    div.panel-top {
        border: 1px solid #dee2e6;

        div.panel-header,
        div.panel-footer {
            height: 3.5rem;
            background: #E0E0E0;            
        }

        a.link-back {
            left: 0;
            margin-left: 3.5rem;
            width: 17rem;
            height: 3rem;
            text-decoration: none;
            background-color: $blue;
            color: $white;
            border-radius: 0.4rem;
            padding-top: 0.5rem;
            font-weight: 500;
        }
    }

    table {
        tr.active {
            background-color: $anakiwa;
    
            &:hover {
                background-color: darken($anakiwa, 5%);
            }
        }
        td {
            padding: .8rem;

            &.btn-download {
                padding: .2rem;
            }
        }
        button {
            width: 8rem;

            &.downloading {
                width: 12rem;
            }
        }
    }   
}
