<div *ngIf="activeProduct" class="build-viewer text-center">
    <div class="container">
        <h2 class="mt-3">{{activeProduct?.name}}</h2>
        <div class="row">
            <div class="col-6">
                <a class="link-back float-left mt-1" routerLink="/{{releaseCenterKey}}">
                    <span class="font-weight-bold">&lt;&lt;&nbsp;</span> Back To Release Center
                </a>
            </div>
            <div class="col-6">
                <button type="button" *ngIf="canTriggerBuild()" class="btn-green ml-3 my-1 mr-1 justify-content-end float-right" (click)="doOpeningBuildModal(true)">Run New Build</button>
            </div>
        </div>
        <div class="panel-top mb-3">
            <div class="panel-header text-left pl-2 pt-3">
                <div class="font-weight-bold">{{activeBuild.configuration?.buildName}} {{activeBuild.id}}</div>
            </div>
            <div>
                <div class="row mx-0">
                    <div class="col-7 text-left pb-18">
                        <div class="form-group mx-sm-3 mb-2 mt-2">
                            <label class="w-25 font-weight-bold">Effective Time:</label>
                            <span class="font-weight-bold">{{activeBuild.configuration?.effectiveTime}}</span>
                        </div>
                        <div class="form-group mx-sm-3 mb-2 mt-2">
                            <label class="w-25 font-weight-bold">Export Type:</label>
                            <span class="font-weight-bold">{{activeBuild.configuration ? (activeBuild.configuration.exportType ? (activeBuild.configuration.exportType.replaceAll('_', ' ') | titlecase) : '' ) : ''}}</span>
                        </div>
                        <div class="form-group mx-sm-3 mb-2 mt-2">
                            <label class="w-25 font-weight-bold">Branch:</label>
                            <span class="font-weight-bold">{{activeBuild.configuration?.branchPath}}</span>
                        </div>
                        <div class="form-group mx-sm-3 mb-2 mt-2">
                            <label class="w-25 font-weight-bold">Failure Max:</label>
                            <span class="font-weight-bold">{{activeBuild.qaTestConfig?.maxFailureExport}}</span>
                        </div>
                    </div>
                    <div class="col-5 text-left">
                        <div class="form-group mx-sm-3 mb-2 mt-2">
                            <label class="w-25 font-weight-bold">Status:</label>
                            <span class="font-weight-bold">{{(activeBuild.status ? activeBuild.status.replaceAll('_', ' ') : '')  | titlecase}}</span>
                        </div>
                        <div class="form-group mx-sm-3 mb-2 mt-2 mb-5">
                            <label class="w-25 font-weight-bold"></label>
                            <button type="button" class="btn-blue" *ngIf="canTriggerBuild()" [disabled]="!activeBuild.id" (click)="viewRunningLog(activeBuild)">View Process</button>
                            <button type="button" class="btn-mandy ml-3" *ngIf="canTriggerBuild()" [disabled]="!activeBuild.id || activeBuild.status !== 'BUILDING' || activeBuild.buildDeleting || activeBuild.buildCanceling" (click)="openModal('stop-build-confirmation-modal')">{{activeBuild.buildCanceling ? 'Canceling Build...' : 'Stop Build' }}</button>
                        </div>
                        <div class="form-group mx-sm-3 mb-2 mt-2 mb-3">
                            <label class="w-25 font-weight-bold">Result:</label>
                            <button type="button" class="btn-green"
                                    *ngIf="canPublishBuild()"
                                    [disabled]="!activeBuild.id || activeBuild.buildDeleting || activeBuild.buildPublishing || (activeBuild.status!== 'RELEASE_COMPLETE' && activeBuild.status!== 'RELEASE_COMPLETE_WITH_WARNINGS') || (activeBuild.tags && activeBuild.tags.indexOf('PUBLISHED') !== -1)"
                                    (click)="openPublishingBuildConfirmationModal()">{{activeBuild.buildPublishing ? 'Publishing...' : 'Publish Build'}}</button>
                            <button type="button" *ngIf="canDeleteBuild()" class="btn-mandy ml-3" [disabled]="!activeBuild.id || activeBuild.buildDeleting || activeBuild.buildPublishing" (click)="openModal('delete-confirmation-modal')">{{activeBuild.buildDeleting? 'Deleting...' : 'Delete Build'}}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-right">
                <label for="view" class="float-left font-weight-bold p-3">View</label>
                <select [(ngModel)]="view" id="view" class="rounded-lg p-2 float-left" (change)="pageNumber = 1; loadBuilds();">
                    <option value="DEFAULT">Default</option>
                    <option value="ALL_RELEASES">All Releases</option>
                    <option value="PUBLISHED">Published</option>
                    <option value="UNPUBLISHED">Unpublished</option>
                </select>
                <button type="button" class="btn-sea-buckthorn ml-3 my-1" *ngIf="canDownloadBuild()" [disabled]="!activeBuild.id || activeBuild.buildDeleting" (click)="viewLog(activeBuild)">View Log</button>
                <button type="button" class="btn-blue ml-3 my-1" *ngIf="canTriggerBuild()" (click)="openModal('hidden-builds-modal'); loadHiddenBuilds()">View Hidden</button>
                <button type="button" class="btn-blue ml-3 my-1" (click)="loadBuilds()">View All</button>
                <button type="button" class="btn-green ml-3 my-1 mr-1" *ngIf="canTriggerBuild()" [disabled]="!activeBuild.id" (click)="doOpeningBuildModal()">Clone</button>
            </div>
        </div>
        <table class="table table-bordered" *ngIf="buildsLoading">
            <tr>
                <th class="w-5" *ngIf="canDownloadBuild()">URL</th>
                <th>Build Name</th>
                <th>Build Date</th>
                <th>Status</th>
                <th>User</th>
                <th class="w-10" *ngIf="canDownloadBuild()">Log</th>
                <th class="w-10" *ngIf="canDownloadBuild()">Release</th>
                <th class="w-10">RVF Report</th>
                <th>Configurations</th>
                <th *ngIf="canTriggerBuild()">Visibility</th>
                <th class="w-10">Tags</th>
            </tr>
            <tr >
                <td colspan="11"><div class="font-weight-bold loading">Loading</div></td>
            </tr>
        </table>
        <table class="table table-bordered" *ngIf="!buildsLoading">
            <tr>
                <th class="w-5" *ngIf="canDownloadBuild()">URL</th>
                <th>Build Name</th>
                <th>Build Date</th>
                <th class="w-12">Status</th>
                <th>User</th>
                <th class="w-5" *ngIf="canDownloadBuild()">Log</th>
                <th class="w-10" *ngIf="canDownloadBuild()">Release</th>
                <th class="w-10">RVF Report</th>
                <th>Configurations</th>
                <th *ngIf="canTriggerBuild()">Visibility</th>
                <th class="w-15">Tags</th>
            </tr>
            <tr *ngIf="builds?.length === 0">
                <td colspan="11">No builds found.</td>
            </tr>
            <tr *ngFor="let build of builds | paginate: {id: 'builds_table', itemsPerPage: pageSize, currentPage: pageNumber, totalItems: totalBuild}" (click)="setActiveBuild(build)" [class.active]="activeBuild.id === build.id">
                <td class="pb-0" *ngIf="canDownloadBuild()"><button type="button" class="btn-circle btn-blue" (click)="openBuildURL(build); $event.stopPropagation()" title="Build URL"><i class="material-icons">open_in_new</i></button></td>
                <td class="pb-0 text-left" title="{{build?.configuration.buildName}}">{{build?.configuration.buildName}}</td>
                <td class="pb-0">{{build?.id}}</td>
                <td class="pb-0" [class.hasWarnings]="build.status === 'RELEASE_COMPLETE_WITH_WARNINGS'">{{build?.status.replaceAll('_', ' ') | titlecase}}</td>
                <td class="pb-0">{{build?.buildUser}}</td>
                <td class="pb-0 btn-download" *ngIf="canDownloadBuild()"><div class="btn-log-download badge loading" *ngIf="build.buildDownloadingLog">Downloading</div><button type="button" class="btn-circle btn-sea-buckthorn" *ngIf="!build.buildDownloadingLog" (click)="downloadBuildLog(build); $event.stopPropagation()" title="Download Log"><i class="material-icons">get_app</i></button></td>
                <td class="pb-0 btn-download" *ngIf="canDownloadBuild()"><div class="btn-package-download badge loading" *ngIf="build.buildDownloadingPackage">Downloading</div><button type="button" class="btn-circle btn-blue" *ngIf="!build.buildDownloadingPackage" (click)="downloadBuildPackage(build); $event.stopPropagation()" title="Download Release Package"><i class="material-icons">get_app</i></button></td>
                <td class="pb-0"><button type="button" class="btn-circle btn-blue" *ngIf="build.rvfURL" (click)="openRvfReport(build); $event.stopPropagation()" title="Open RVF Report"><i class="material-icons">open_in_new</i></button></td>
                <td class="pb-0 btn-setting"><button type="button" class="btn-circle btn-grey" (click)="viewBuildConfigurations(build); $event.stopPropagation()" title="View Build Configurations"><i class="material-icons">settings</i></button></td>
                <td class="pb-0" *ngIf="canTriggerBuild()"><button type="button" class="btn-circle btn-mandy" (click)="openBuildVisibilityModal(build); $event.stopPropagation()" title="Hide Build"><i class="material-icons">visibility_off</i></button></td>
                <td class="pb-0"><span *ngIf="build.tags">{{build.tags.join(', ').replaceAll('_', ' ') | titlecase}}</span>&nbsp;<span *ngIf="build.tags && canTriggerBuild()" (click)="openTaggingModal(build); $event.stopPropagation()" title="Edit Tags"><i class="material-icons text-fruit-salad">edit</i></span>
                    <button *ngIf="!build.tags && canTriggerBuild()" class="btn-circle btn-blue text-center" (click)="openTaggingModal(build); $event.stopPropagation()" title="Add Tags"><i class="material-icons">add</i></button>
                </td>
            </tr>
        </table>
        <pagination-controls id="builds_table"
                      (pageChange)="handlePageChange($event)"
                      directionLinks="true"
                      autoHide="true"
                      responsive="true"
                      previousLabel="Previous"
                      nextLabel="Next"
                      *ngIf="!buildsLoading">
        </pagination-controls>
    </div>
</div>

<app-modal id="hidden-builds-modal" class="modal add-modal" size="large">
    <h3 header class="mb-0">Hidden Builds</h3>
    <div body class="text-center p-5">
        <div *ngIf="hiddenBuildsLoading" class="font-weight-bold loading">Loading</div>
        <table class="table table-bordered" *ngIf="!hiddenBuildsLoading">
            <tr>
                <th>Build Name</th>
                <th>Build Date</th>
                <th class="w-12">Status</th>
                <th>User</th>
                <th class="w-15">Tags</th>
                <th class="w-15"></th>
            </tr>
            <tr *ngIf="hiddenBuilds?.length === 0">
                <td colspan="11">No hidden builds found.</td>
            </tr>
            <tr *ngFor="let build of hiddenBuilds | paginate: {id: 'hidden_builds_table', itemsPerPage: 10, currentPage: p1, totalItems: hiddenBuilds?.length}">
                <td class="pb-0 text-left" title="{{build?.configuration.buildName}}">{{build?.configuration.buildName}}</td>
                <td class="pb-0">{{build?.id}}</td>
                <td class="pb-0" [class.hasWarnings]="build.status === 'RELEASE_COMPLETE_WITH_WARNINGS'">{{build?.status.replaceAll('_', ' ') | titlecase}}</td>
                <td class="pb-0">{{build?.buildUser}}</td>
                <td class="pb-0"><span *ngIf="build.tags">{{build.tags.join(', ').replaceAll('_', ' ') | titlecase}}</span></td>
                <td class="pb-0 pt-0"><button style="margin-top: 1px; margin-bottom: 1px;" type="button" class="btn-blue" (click)="openUnhideBuildConfirmationModal(build)">Un-hide</button></td>
            </tr>
        </table>
        <pagination-controls id="hidden_builds_table"
                      (pageChange)="p1 = $event"
                      directionLinks="true"
                      autoHide="true"
                      responsive="true"
                      previousLabel="Previous"
                      nextLabel="Next"
                      *ngIf="!hiddenBuildsLoading">
        </pagination-controls>
    </div>
    <div footer>
        <button type="button" class="btn-sea-buckthorn" (click)="closeModal('hidden-builds-modal')">Close</button>
    </div>
</app-modal>

<!-- BUILD MODAL -->
<app-modal id="build-modal" class="modal build-modal">
    <h3 header class="mb-0">Build Configurations</h3>
    <div body class="text-center p-5">
        <p>Please enter the details for the Build</p>
        <div class="p-3 m-3 text-left row">
            <div class="w-75 d-inline pl-5 ml-2">
                <input type="checkbox" [(ngModel)]="useLocalInputFiles">
                <span class="pl-2 font-weight-bold">Use Local Input Files</span>
            </div>
        </div>
        <input [disabled]="buildTriggering" class="w-75 rounded-lg p-3 mb-3" type="text" [(ngModel)]="buildParams.buildName" placeholder="Build Name">
        <input [disabled]="buildTriggering" type="text" placeholder="Effective Time" class="w-75 rounded-lg p-3 m-3" bsDatepicker [(bsValue)]="buildParams.effectiveDate" value="{{ buildParams.effectiveDate | date:'yyyy-MM-dd' }}">
        <input *ngIf="useLocalInputFiles" class="w-75 rounded-lg p-3 m-3"  multiple #uploadInputFilesInput type="file" (change)="selectInputFiles($event.target.files)">
        <div class="w-100" *ngIf="!useLocalInputFiles">
            <select  [disabled]="buildTriggering" class="w-75 rounded-lg p-3 m-3" (change)="buildParams.enableTraceabilityValidation= (buildParams.exportType === 'PUBLISHED' ? false : true)" [(ngModel)]="buildParams.exportType">
                <option value="PUBLISHED">Published</option>
                <option value="UNPUBLISHED">Unpublished</option>
                <option value="FEEDBACK_FIX">Feedback Fix</option>
            </select>
            <span class="font-weight-light position-absolute" title="Passes the type of export to Term Server to export the contents. Possible values are &quot;Published&quot;, &quot;Unpublished&quot;, &quot;Feedback Fix&quot;.
Use &quot;Published&quot; to retrieve all Production data that has been versioned with the &quot;Effective Time&quot;.
Use &quot;Unpublished&quot; to retrieve all data from the term server regardless of versioned dates.
Use &quot;Feedback Fix&quot; to retrieve all data from the latest HotFix branch (Fix02, Fix03, etc) + the Production data in the Release Branch that has been versioned with the &quot;Effective Time&quot;.">(?)</span>
        </div>
        <input *ngIf="!useLocalInputFiles" [disabled]="buildTriggering" class="w-75 rounded-lg p-3 m-3" type="text" [(ngModel)]="buildParams.branch" placeholder="Branch">
        <div class="w-100">
            <input [disabled]="buildTriggering" class="w-75 rounded-lg p-3 m-3" type="text" [(ngModel)]="buildParams.maxFailureExport" placeholder="Failure Max">
            <span class="font-weight-light position-absolute" title="Defines the number of errors that are seen/displayed (RVF)">(?)</span>
        </div>
        <input *ngIf="!useLocalInputFiles" [disabled]="buildTriggering" class="w-75 rounded-lg p-3 m-3" type="text" [(ngModel)]="buildParams.excludedModuleIds" placeholder="Excluded Module Ids">
        <div class="p-3 m-3 text-left row" *ngIf="!useLocalInputFiles">
            <div class="w-75 d-inline pl-5 ml-2">
                <input type="checkbox" [disabled]="buildParams.exportType === 'PUBLISHED'" [(ngModel)]="buildParams.enableTraceabilityValidation">
                <span class="pl-2">Enable Traceability Validation</span>&nbsp;
                <span class="font-weight-light" title="Passes to RVF to enable Traceability Validation. This option is only available for non Published Export types">(?)</span>
            </div>
        </div>
    </div>

    <div footer>
        <div class="px-3 error" [class.d-none]="saveResponse?.length===0">{{saveResponse}}</div>
        <button type="button" class="btn-sea-buckthorn" [disabled]="buildTriggering" (click)="closeModal('build-modal')">Cancel</button>
        <button type="button" class="btn-blue" [disabled]="buildTriggering" (click)="runBuild()">Run</button>
    </div>
</app-modal>

<!--Build deletion confirmation-->
<app-modal id="delete-confirmation-modal" class="modal build-modal">
    <h3 header class="mb-0">Confirmation</h3>
    <div body class="text-center p-5">
        <p>Are you sure you want to delete this build?</p>
    </div>

    <div footer>
        <button type="button" class="btn-sea-buckthorn" (click)="closeModal('delete-confirmation-modal')">No</button>
        <button type="button" class="btn-blue" (click)="deleteBuild(activeBuild)">Yes</button>
    </div>
</app-modal>

<!--Build publishing confiramation-->
<app-modal id="publish-build-confirmation-modal" class="modal build-modal">
    <h3 header class="mb-0">Confirmation</h3>
    <div body class="text-left p-5">
        <p>{{message}}</p>
    </div>

    <div footer>
        <button type="button" class="btn-sea-buckthorn" (click)="closeModal('publish-build-confirmation-modal')">No</button>
        <button type="button" class="btn-blue" (click)="publishBuild(activeBuild)">Yes</button>
    </div>
</app-modal>

<app-modal id="build-tagging-modal" class="modal build-modal">
    <h3 header class="mb-0">Tagging</h3>
    <div body class="text-left p-5">
        <div *ngFor="let tag of allTags">
            <div class="w-25 d-inline-block"></div>
            <label>
              <input type="checkbox" [value]="tag.value" [(ngModel)]="selectedTags[tag.value]"/>
              {{tag.label}}
            </label>
          </div>
    </div>

    <div footer>
        <button type="button" class="btn-sea-buckthorn" (click)="closeModal('build-tagging-modal')">Cancel</button>
        <button type="button" class="btn-blue" (click)="saveTags()">Save</button>
    </div>
</app-modal>

<!--Stop Build confiramation-->
<app-modal id="stop-build-confirmation-modal" class="modal build-modal">
    <h3 header class="mb-0">Confirmation</h3>
    <div body class="text-center p-5">
        <p>Are you sure you want to cancel this build?</p>
    </div>

    <div footer>
        <button type="button" class="btn-sea-buckthorn" (click)="closeModal('stop-build-confirmation-modal')">No</button>
        <button type="button" class="btn-blue" (click)="stopBuild(activeBuild)">Yes</button>
    </div>
</app-modal>

<!--View Log Model-->
<app-modal id="view-build-log-modal" class="modal view-build-log-modal" size="large">
    <h3 header class="mb-0">Log</h3>
    <div body class="text-left p-5" [class.text-center]="buildLogLoading">
        <div class="font-weight-bold loading" *ngIf="buildLogLoading">Loading</div>
        <p *ngIf="!buildLogLoading">{{buildLog}}</p>
    </div>

    <div footer>
        <button type="button" class="btn-sea-buckthorn" (click)="closeModal('view-build-log-modal')">Close</button>
    </div>
</app-modal>

<!--Waiting Model-->
<app-modal id="waiting-modal" class="modal" hideHeader="true" hideFooter="true" disableBackgroundClickEvent="true" size="small">
    <div body class="text-left p-5 text-center">
        <div class="font-weight-bold loading">{{action}}</div>
    </div>
</app-modal>

<app-modal id="view-build-configuration-modal" class="modal view-build-configuration-modal" size="large">
    <h3 header class="mb-0">Build Configurations</h3>
    <div body class="text-center p-5">
        <div class="row mx-0" *ngIf="selectedBuild">
            <div class="col-12 text-left">
                <div class="mx-sm-3 mb-0 mt-0">
                    <label class="font-weight-bold">Build Name</label>
                    <div class="d-inline">{{selectedBuild.configuration?.buildName}}</div>
                </div>
                <div class="mx-sm-3 mb-0 mt-0">
                    <label class="font-weight-bold">Effective Time
                        <span class="font-weight-light" title="The effective date of the release. Please ensure that this value matches the effective date in RF2 filenames in the manifest file. EXample: 2015-07-31">(?)</span>
                    </label>
                    <div class="d-inline">{{selectedBuild.configuration?.effectiveTime}}</div>
                </div>
                <div class="mx-sm-3 mb-0 mt-0">
                    <label class="font-weight-bold">Export Type
                        <span class="font-weight-light" title="Passes the type of export to Term Server to export the contents. Possible values are &quot;Published&quot;, &quot;Unpublished&quot;, &quot;Feedback Fix&quot;.
Use &quot;Published&quot; to retrieve all Production data that has been versioned with the &quot;Effective Time&quot;.
Use &quot;Unpublished&quot; to retrieve all data from the term server regardless of versioned dates.
Use &quot;Feedback Fix&quot; to retrieve all data from the latest HotFix branch (Fix02, Fix03, etc) + the Production data in the Release Branch that has been versioned with the &quot;Effective Time&quot;.">(?)</span>
                    </label>
                    <div class="d-inline">{{selectedBuild.configuration ? (selectedBuild.configuration.exportType ? (selectedBuild.configuration.exportType.replaceAll('_', ' ') | titlecase) : '' ) : ''}}</div>
                </div>
                <div class="mx-sm-3 mb-0 mt-0">
                    <label class="font-weight-bold">Branch</label>
                    <div class="d-inline">{{selectedBuild.configuration?.branchPath}}</div>
                </div>
                <div class="mx-sm-3 mb-0 mt-0">
                    <label class="font-weight-bold">Failure Max
                        <span class="font-weight-light" title="Defines the number of errors that are seen/displayed (RVF)">(?)</span>
                    </label>
                    <div class="d-inline">{{selectedBuild.qaTestConfig?.maxFailureExport}}</div>
                </div>
                <div class="mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold align-top">Readme Header
                        <span class="font-weight-light" title="The readme header which will be used in Readme.txt">(?)</span>
                    </label>
                    <textarea rows="5" disabled [(ngModel)]="selectedBuild.configuration && selectedBuild.configuration.readmeHeader"></textarea>
                </div>
                <div class="mx-sm-3 mb-0 mt-0">
                    <label class="font-weight-bold">Readme End Date
                        <span class="font-weight-light" title="The year of release. Example: 2015">(?)</span>
                    </label>
                    <div class="d-inline">{{selectedBuild.configuration?.readmeEndDate}}</div>
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold">First Time Release
                        <span class="font-weight-light" title="Indicates whether or not this is a first time release for a given product">(?)</span>
                    </label>
                    <input type="checkbox" (click)="$event.preventDefault();$event.stopPropagation()" [(ngModel)]="selectedBuild.configuration && selectedBuild.configuration.firstTimeRelease">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-2">
                    <label class="font-weight-bold">Just Package
                        <span class="font-weight-light" title="Indicates if the input files should just be packaged up (with no processing applied to them)">(?)</span>
                    </label>
                    <input type="checkbox" (click)="$event.preventDefault();$event.stopPropagation()" [(ngModel)]="selectedBuild.configuration && selectedBuild.configuration.justPackage">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold">Beta Release
                        <span class="font-weight-light" title="Indicate whether or not the release is a beta release">(?)</span>
                    </label>
                    <input type="checkbox" (click)="$event.preventDefault();$event.stopPropagation()" [(ngModel)]="selectedBuild.configuration && selectedBuild.configuration.betaRelease">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold">Input Files Fixes Required
                        <span class="font-weight-light" title="Indicates whether  or not input file fixes are required">(?)</span>
                    </label>
                    <input type="checkbox" (click)="$event.preventDefault();$event.stopPropagation()" [(ngModel)]="selectedBuild.configuration && selectedBuild.configuration.inputFilesFixesRequired">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold">Create Legacy Ids
                        <span class="font-weight-light" title="Indicates whether or not to create the CTV3 ID’s in the simpleMap refset files">(?)</span>
                    </label>
                    <input type="checkbox" (click)="$event.preventDefault();$event.stopPropagation()" [(ngModel)]="selectedBuild.configuration && selectedBuild.configuration.createLegacyIds">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold">Use Classifier Precondition Checks
                        <span class="font-weight-light" title="Allows classification in the preCondition checks">(?)</span>
                    </label>
                    <input type="checkbox" (click)="$event.preventDefault();$event.stopPropagation()" [(ngModel)]="selectedBuild.configuration && selectedBuild.configuration.useClassifierPreConditionChecks">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold">Classify Output Files
                        <span class="font-weight-light" title="Indicates whether or not to run a classification against the output files">(?)</span>
                    </label>
                    <input type="checkbox" (click)="$event.preventDefault();$event.stopPropagation()" [(ngModel)]="selectedBuild.configuration && selectedBuild.configuration.classifyOutputFiles">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold">Release As An Edition
                        <span class="font-weight-light" title="Indicates whether the release build is an edition release or not">(?)</span>
                    </label>
                    <input type="checkbox" (click)="$event.preventDefault();$event.stopPropagation()" [(ngModel)]="selectedBuild.configuration && selectedBuild.configuration.extensionConfig && selectedBuild.configuration.extensionConfig.releaseAsAnEdition">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-0">
                    <label class="font-weight-bold">Custom Refset Composite Keys</label>
                    <input #customRefsetCompositeKeys type="text" disabled class="rounded-lg p-2">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold">New RF2 Input Files
                        <span class="font-weight-light" title="The new files to be released for the first time for an existing product in subsequent releases">(?)</span>
                    </label>
                    <input type="text" disabled class="rounded-lg p-2" [(ngModel)]="selectedBuild.configuration && selectedBuild.configuration.newRF2InputFiles">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold">Previous Published Release
                        <span class="font-weight-light" title="Passes the previous published package name to the SRS">(?)</span>
                    </label>
                    <input type="text" disabled class="rounded-lg p-2" [(ngModel)]="selectedBuild.configuration && selectedBuild.configuration.previousPublishedPackage">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold">Previous International Release
                        <span class="font-weight-light" title="Passes the previous international release version to the RVF for QA testing">(?)</span>
                    </label>
                    <input type="text" disabled class="rounded-lg p-2" [(ngModel)]="selectedBuild.qaTestConfig && selectedBuild.qaTestConfig.previousInternationalRelease">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold">Previous Extension Release
                        <span class="font-weight-light" title="Passes the previous extension release version to the RVF for  QA testing">(?)</span>
                    </label>
                    <input type="text" disabled class="rounded-lg p-2" [(ngModel)]="selectedBuild.qaTestConfig && selectedBuild.qaTestConfig.previousExtensionRelease">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold">Extension Dependency Release
                        <span class="font-weight-light" title="Passes the international release version (that the extension is dependent upon) to the RVF for QA testing">(?)</span>
                    </label>
                    <input type="text" disabled class="rounded-lg p-2" [(ngModel)]="selectedBuild.qaTestConfig && selectedBuild.qaTestConfig.extensionDependencyRelease">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold">Dependency Release Package
                        <span class="font-weight-light" title="The published international release package which an extension release is dependent on">(?)</span>
                    </label>
                    <input type="text" disabled class="rounded-lg p-2" [(ngModel)]="selectedBuild.configuration && selectedBuild.configuration.extensionConfig && selectedBuild.configuration.extensionConfig.dependencyRelease">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold">Included Previous Release Files
                        <span class="font-weight-light" title="Only used when combining different Delta files from previous releases into a new Delta release files using syntax format &quot;newFileName|(oldFile1, oldFile2, ...)&quot;. Most of the time, it should be left empty">(?)</span>
                    </label>
                    <input type="text" disabled class="rounded-lg p-2" [(ngModel)]="selectedBuild.configuration && selectedBuild.configuration.includePrevReleaseFiles">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold">Namespace ID
                        <span class="font-weight-light" title="The namespace id for a given extension release">(?)</span>
                    </label>
                    <input type="text" disabled class="rounded-lg p-2" [(ngModel)]="selectedBuild.configuration && selectedBuild.configuration.extensionConfig && selectedBuild.configuration.extensionConfig.namespaceId">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold">Module ID
                        <span class="font-weight-light" title="The module id for a given extension release">(?)</span>
                    </label>
                    <input type="text" disabled class="rounded-lg p-2" [(ngModel)]="selectedBuild.configuration && selectedBuild.configuration.extensionConfig && selectedBuild.configuration.extensionConfig.moduleId">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold">Assertion Groups
                        <span class="font-weight-light" title="Passes the assertion group name(s) to the RVF for QA testing">(?)</span>
                    </label>
                    <input type="text" disabled class="rounded-lg p-2" [(ngModel)]="selectedBuild.qaTestConfig && selectedBuild.qaTestConfig.assertionGroupNames">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold">Enable Drools
                        <span class="font-weight-light" title="Passes to RVF to enable the validations with Drools rules">(?)</span>
                    </label>
                    <input type="checkbox" (click)="$event.preventDefault();$event.stopPropagation()" [(ngModel)]="selectedBuild.qaTestConfig && selectedBuild.qaTestConfig.enableDrools">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold">Drools Rules Group Names
                        <span class="font-weight-light" title="Passes to RVF to run validation using Drools rules if the Enable Drools flag is checked. Values are a list of Drools rules groups separated by a comma">(?)</span>
                    </label>
                    <input type="text" disabled class="rounded-lg p-2" [(ngModel)]="selectedBuild.qaTestConfig && selectedBuild.qaTestConfig.droolsRulesGroupNames">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold">Enable MRCM
                        <span class="font-weight-light" title="Passes to RVF to enable the validations with MRCM Validator">(?)</span>
                    </label>
                    <input type="checkbox" (click)="$event.preventDefault();$event.stopPropagation()" [(ngModel)]="selectedBuild.qaTestConfig && selectedBuild.qaTestConfig.enableMRCMValidation">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold">Enable Traceability Validation
                        <span class="font-weight-light" title="Passes to RVF to enable Traceability Validation. This option is only available for non Published Export types">(?)</span>
                    </label>
                    <input type="checkbox" (click)="$event.preventDefault();$event.stopPropagation()" [(ngModel)]="selectedBuild.qaTestConfig && selectedBuild.qaTestConfig.enableTraceabilityValidation">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold">Enable JIRA
                        <span class="font-weight-light" title="Passes to RVF to allow RVF to automatically create a JIRA ticket for each of the failure found in RVF validation report">(?)</span>
                    </label>
                    <input type="checkbox" (click)="$event.preventDefault();$event.stopPropagation()" [(ngModel)]="selectedBuild.qaTestConfig && selectedBuild.qaTestConfig.jiraIssueCreationFlag">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold">JIRA Product Name
                        <span class="font-weight-light" title="Passes to RVF if the Enable JIRA flag is checked. This value will be mapped to field &quot;SNOMED CT Product&quot; on ISRS ticket on JIRA">(?)</span>
                    </label>
                    <input type="text" disabled class="rounded-lg p-2" [(ngModel)]="selectedBuild.qaTestConfig && selectedBuild.qaTestConfig.productName">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold">JIRA Reporting Stage
                        <span class="font-weight-light" title="Passes to RVF if the Enable JIRA flag is checked. This value will be mapped to field &quot;SNOMED CT Product&quot; on ISRS ticket on JIRA">(?)</span>
                    </label>
                    <input type="text" disabled class="rounded-lg p-2" [(ngModel)]="selectedBuild.qaTestConfig && selectedBuild.qaTestConfig.reportingStage">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold">Release Information Fields
                        <span class="font-weight-light" title="Define a number of properies which will be generated in the Release Package Information file">(?)</span>
                    </label>
                    <input type="text" disabled class="rounded-lg p-2" [(ngModel)]="selectedBuild.configuration && selectedBuild.configuration.releaseInformationFields">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold">Additional Release Information Fields
                        <span class="font-weight-light" title="Define the list of fields which will be inlcuded in the Release Package Information file. For example: key1:value1|key2:value2|key3:value3...">(?)</span>
                    </label>
                    <input type="text" disabled class="rounded-lg p-2" [(ngModel)]="selectedBuild.configuration && selectedBuild.configuration.additionalReleaseInformationFields">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold">Concept Preferred Terms
                        <span class="font-weight-light" title="Provide a list of conceptID and FSN's which will be used for the included modules + language refsets in the Release Package Information file">(?)</span>
                    </label>
                    <input type="text" disabled class="rounded-lg p-2" [(ngModel)]="selectedBuild.configuration && selectedBuild.configuration.conceptPreferredTerms">
                </div>
                <div class="form-group mx-sm-3 mb-0 mt-1">
                    <label class="font-weight-bold align-top">License Statement
                        <span class="font-weight-light" title="The licence statement which will be used in the Release Package Information file">(?)</span>
                    </label>
                    <textarea rows="5" disabled [(ngModel)]="selectedBuild.configuration && selectedBuild.configuration.licenceStatement"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div footer>
        <button type="button" class="btn-sea-buckthorn" (click)="closeModal('view-build-configuration-modal')">Close</button>
    </div>
</app-modal>

<app-modal id="build-success-modal" class="modal success-modal">
    <h3 header class="mb-0">Success</h3>
    <div body class="text-center p-5">
        <div class="text-left success pl-0"><i class="material-icons">check_circle</i>&nbsp;<div class="d-inline position-absolute pt-2">{{message}}</div></div>
    </div>
    <div footer>
        <button type="button" class="btn-sea-buckthorn" (click)="closeModal('build-success-modal')">Ok</button>
    </div>
</app-modal>

<app-modal id="build-error-modal" class="modal error-modal">
    <h3 header class="mb-0">Error</h3>
    <div body class="text-center p-5">
        <div class="text-left error pl-0"><i class="material-icons">cancel</i>&nbsp;<div class="d-inline position-absolute pt-2">{{message}}</div></div>
    </div>
    <div footer>
        <button type="button" class="btn-sea-buckthorn" (click)="closeModal('build-error-modal')">Ok</button>
    </div>
</app-modal>

<app-modal id="hide-build-confirmation-modal" class="modal add-modal">
    <h3 header class="mb-0">Confirmation</h3>
    <div body class="text-center p-5">
        <p>Do you want to hide the build '{{selectedBuild?.id}}'?</p>
    </div>
    <div footer>
        <button type="button" class="btn-sea-buckthorn" (click)="closeModal('hide-build-confirmation-modal')">No</button>
        <button type="button" class="btn-blue" (click)="hideBuild()">Yes</button>
    </div>
</app-modal>

<app-modal id="unhide-build-confirmation-modal" class="modal add-modal">
    <h3 header class="mb-0">Confirmation</h3>
    <div body class="text-center p-5">
        <p>Do you want to un-hide the build '{{selectedBuild?.id}}'?</p>
    </div>
    <div footer>
        <button type="button" class="btn-sea-buckthorn" (click)="closeModal('unhide-build-confirmation-modal')">No</button>
        <button type="button" class="btn-blue" (click)="unHideBuild()">Yes</button>
    </div>
</app-modal>