<div *ngIf="activeProduct" class="build-viewer text-center">    
    <div class="container">
        <h2 class="mt-3 text-left">{{activeProduct?.name}}</h2>
        <div class="text-right"><button type="button text-right" class="btn-green ml-3 my-1 mr-1" (click)="openBuildModel(true)">Run New Build</button></div>
        <div class="text-left error" *ngIf="errorMsg">{{errorMsg}}</div>
        <div class="panel-top mb-3">
            <a class="position-absolute link-back" routerLink="/{{releaseCenterKey}}">
                <span class="font-weight-bold">&lt;&lt;&nbsp;</span> Back To Release Center
            </a>            
            <div class="panel-header text-left pl-2 pt-3"><span class="font-weight-bold">{{activeBuild.buildLoading ? 'Loading...' : activeBuild.id}}</span></div>
            <div>
                <div class="row mx-0">
                    <div class="col-6 text-left">
                        <div class="form-group mx-sm-3 mb-2 mt-2">
                            <label class="w-25 font-weight-bold">Effective Time:</label>
                            <span class="font-weight-bold">{{activeBuild.buildLoading ? '' : activeBuild.configuration?.effectiveTime}}</span>
                        </div>
                        <div class="form-group mx-sm-3 mb-2 mt-2">
                            <label class="w-25 font-weight-bold">Export Type:</label>
                            <span class="font-weight-bold">{{activeBuild.buildLoading ? '' : activeBuild.configuration?.exportType}}</span>
                        </div>
                        <div class="form-group mx-sm-3 mb-2 mt-2">
                            <label class="w-25 font-weight-bold">Branch:</label>
                            <span class="font-weight-bold">{{activeBuild.buildLoading ? '' : activeBuild.configuration?.branchPath}}</span>
                        </div>
                        <div class="form-group mx-sm-3 mb-2 mt-2">
                            <label class="w-25 font-weight-bold">Failure Max:</label>
                            <span class="font-weight-bold">{{activeBuild.buildLoading ? '' : activeBuild.qaTestConfig?.maxFailureExport}}</span>
                        </div>
                    </div>
                    <div class="col-6 text-left">
                        <div class="form-group mx-sm-3 mb-2 mt-2">
                            <label class="w-25 font-weight-bold">Status:</label>
                            <span class="font-weight-bold">{{activeBuild.buildLoading ? '' : activeBuild.status}}</span>
                        </div>
                        <div class="form-group mx-sm-3 mb-2 mt-2 mb-5">
                            <label class="w-25 font-weight-bold"></label>
                            <button type="button" class="btn-blue" [disabled]="!activeBuild.id || activeBuild.status !== 'BUILDING' || activeBuild.buildLoading || activeBuild.buildDeleting">View Process</button>
                            <button type="button" class="btn-mandy ml-3" [disabled]="!activeBuild.id || activeBuild.status !== 'BUILDING' || activeBuild.buildLoading || activeBuild.buildDeleting || activeBuild.buildCanceling" (click)="openModal('stop-build-confirmation-modal')">Stop Build</button>
                        </div>                        
                        <div class="form-group mx-sm-3 mb-2 mt-2 mb-3">
                            <label class="w-25 font-weight-bold">Result:</label>                            
                            <button type="button" class="btn-green" 
                                    [disabled]="!activeBuild.id || activeBuild.buildLoading || activeBuild.buildDeleting || activeBuild.buildPublishing || activeBuild.status!== 'BUILT' ||  activeBuild.tag === 'PUBLISHED'" 
                                    (click)="openModal('publish-build-confirmation-modal')">{{activeBuild.buildPublishing ? 'Publishing...' : 'Publish Build'}}</button>
                            <button type="button" class="btn-mandy ml-3" [disabled]="!activeBuild.id || activeBuild.buildLoading || activeBuild.buildDeleting || activeBuild.buildPublishing" (click)="openModal('delete-confirmation-modal')">{{activeBuild.buildDeleting? 'Deleting...' : 'Delete Build'}}</button>
                        </div>
                    </div>
                </div>                
            </div>    
            <div class="panel-footer text-right">
                <button type="button" class="btn-blue" [disabled]="!activeBuild.id || activeBuild.buildLoading || activeBuild.buildDeleting || activeBuild.buildDownloadingPackage" (click)="downloadBuildPackage(activeBuild)">{{activeBuild.buildDownloadingPackage ? 'Downloading...' : 'Download'}}</button>
                <button type="button" class="btn-sea-buckthorn ml-3 my-1" [disabled]="!activeBuild.id || activeBuild.buildLoading || activeBuild.buildDeleting" (click)="viewLog(activeBuild)">View Log</button>
                <button type="button" class="btn-blue ml-3 my-1" (click)="loadBuilds()">View All</button>
                <button type="button" class="btn-green ml-3 my-1 mr-1" [disabled]="!activeBuild.id || activeBuild.buildLoading" (click)="openBuildModel()">Re-Run</button>
            </div>
        </div>
        <table class="table table-bordered" *ngIf="buildsLoading">
            <tr>
                <th>Build Date</th>
                <th>Status</th>
                <th>User</th>
                <th>Log</th>
                <th>Release</th>
                <th>Tag</th>
            </tr>
            <tr >
                <td colspan="6">Loading...</td>
            </tr>            
        </table>    
        <table class="table table-bordered" *ngIf="!buildsLoading">
            <tr>
                <th>Build Date</th>
                <th>Status</th>
                <th>User</th>
                <th>Log</th>
                <th>Release</th>
                <th>Tag</th>
            </tr>
            <tr *ngIf="builds?.length === 0">
                <td colspan="6">No builds found.</td>
            </tr>
            <tr *ngFor="let build of builds | paginate: {id: 'builds_table', itemsPerPage: 10, currentPage: p, totalItems: builds?.length}" (click)="setActiveBuild(build)" [class.active]="activeBuild.id === build.id">
                <td>{{build?.id}}</td>
                <td>{{build?.status}}</td>
                <td>{{build?.buildUser}}</td>
                <td class="btn-download"><button type="button" class="btn-blue" [class.downloading]="build.buildDownloadingLog" [disabled]="build.buildDownloadingLog" (click)="downloadBuildLog(build); $event.stopPropagation()">{{build.buildDownloadingLog ? 'Downloading...' : 'Download'}}</button></td>
                <td class="btn-download"><button type="button" class="btn-blue" [class.downloading]="build.buildDownloadingPackage" [disabled]="build.buildDownloadingPackage" (click)="downloadBuildPackage(build); $event.stopPropagation()">{{build.buildDownloadingPackage ? 'Downloading...' : 'Download'}}</button></td>
                <td>{{build?.tag}}</td>
            </tr>
        </table>
        <pagination-controls id="builds_table"
                      (pageChange)="p = $event"
                      maxSize="100"
                      directionLinks="true"
                      autoHide="true"
                      responsive="true"
                      previousLabel="Previous"
                      nextLabel="Next"
                      *ngIf="!buildsLoading">
        </pagination-controls>
    </div>
</div>

<!-- BUILD MODAL -->
<app-modal id="build-modal" class="modal build-modal">
    <h3 header class="mb-0">Build Configurations</h3>
    <div body class="text-center p-5">
        <p>Please enter the details for the Build</p>        
        <input [disabled]="buildTriggering" type="text" placeholder="Effective Time"class="w-75 rounded-lg p-3 m-3" bsDatepicker [(bsValue)]="buildParams.effectiveDate" value="{{ buildParams.effectiveDate | date:'yyyy-MM-dd' }}">
        <select [disabled]="buildTriggering" class="w-75 rounded-lg p-3 m-3" [(ngModel)]="buildParams.exportType">
            <option value="PUBLISHED">Published</option>
            <option value="UNPUBLISHED">Unpublished</option>
            <option value="FEEDBACK_FIX">Feedback Fix</option>            
        </select>
        <input [disabled]="buildTriggering" class="w-75 rounded-lg p-3 m-3" type="text" [(ngModel)]="buildParams.branch" placeholder="Branch">        
        <input [disabled]="buildTriggering" class="w-75 rounded-lg p-3 m-3" type="text" [(ngModel)]="buildParams.maxFailureExport" placeholder="Failure Max">
    </div>

    <div footer>
        <button type="button" class="btn-sea-buckthorn" [disabled]="buildTriggering" (click)="closeModal('build-modal')">Cancel</button>
        <button type="button" class="btn-blue" [disabled]="buildTriggering" (click)="runBuild()">Run</button>
    </div>
</app-modal>

<!--Build deletion confirmation-->
<app-modal id="delete-confirmation-modal" class="modal build-modal">
    <h3 header class="mb-0">Confirmation</h3>
    <div body class="text-center p-5">
        <p>Are you sure you want to delete this build?</p>
    </div>

    <div footer>
        <button type="button" class="btn-sea-buckthorn" (click)="closeModal('delete-confirmation-modal')">No</button>
        <button type="button" class="btn-blue" (click)="deleteBuild(activeBuild)">Yes</button>
    </div>
</app-modal>

<!--Build publishing confiramation-->
<app-modal id="publish-build-confirmation-modal" class="modal build-modal">
    <h3 header class="mb-0">Confirmation</h3>
    <div body class="text-center p-5">
        <p>Are you sure you want to publish this build?</p>
    </div>

    <div footer>
        <button type="button" class="btn-sea-buckthorn" (click)="closeModal('publish-build-confirmation-modal')">No</button>
        <button type="button" class="btn-blue" (click)="publishBuild(activeBuild)">Yes</button>
    </div>
</app-modal>

<!--Stop Build confiramation-->
<app-modal id="stop-build-confirmation-modal" class="modal build-modal">
    <h3 header class="mb-0">Confirmation</h3>
    <div body class="text-center p-5">
        <p>Are you sure you want to cancel this build?</p>
    </div>

    <div footer>
        <button type="button" class="btn-sea-buckthorn" (click)="closeModal('stop-build-confirmation-modal')">No</button>
        <button type="button" class="btn-blue" (click)="stopBuild(activeBuild)">Yes</button>
    </div>
</app-modal>

<!--View Log Model-->
<app-modal id="view-build-log-modal" class="modal view-build-log-modal" size="large">
    <h3 header class="mb-0">Log</h3>
    <div body class="text-left p-5" [class.text-center]="buildLogLoading">
        <p>{{buildLogLoading ? 'Loading..' : buildLog}}</p>
    </div>

    <div footer>        
        <button type="button" class="btn-blue" (click)="closeModal('view-build-log-modal')">Close</button>
    </div>
</app-modal>