@import '~src/variables.scss';

div.build-viewer {
    height: calc(100vh - 12rem);
    overflow: auto;

    div.error {
        color: $mandy;
        padding: .75rem;
    }

    button {
        color: $white;

        &.blue {
            background-color: lighten($cerulean, 10%);

            i {
                color: lighten($cerulean, 30%);
            }

            &:hover {
                background-color: $cerulean;
            }
        }

        &.green {
            background-color: lighten($fruit-salad, 10%);

            i {
                color: lighten($fruit-salad, 30%);
            }

            &:hover {
                background-color: $fruit-salad;
            }
        }

        &.orange {
            background-color: lighten($sea-buckthorn, 10%);

            i {
                color: lighten($sea-buckthorn, 30%);
            }

            &:hover {
                background-color: $sea-buckthorn;
            }
        }

        &.purple {
            background-color: lighten($wisteria, 15%);

            i {
                color: lighten($wisteria, 30%);
            }

            &:hover {
                background-color: $wisteria;
            }
        }
    }

    div.panel-top {
        border: 1px solid #dee2e6;

        div.panel-header,
        div.panel-footer {
            height: 3.5rem;
            background: #E0E0E0;

            select {
                margin-top: 4px;
            }
        }
    }

    div.pb-18 {
        padding-bottom: 18px;
    }

    table {
        tr {
            th {
                &.asc, &.desc, &.sortable {
                    padding-right: 25px;
                }
                &.asc::after, &.desc::after {
                    right: 10px;
                }
            }
        }
        tr.active {
            background-color: $anakiwa;

            &:hover {
                background-color: darken($anakiwa, 5%);
            }
        }
        td:nth-child(2) {
            text-overflow: ellipsis;
            max-width: 42ch;
            width: 42ch;
            overflow: hidden;
        }
        td {
            padding: .8rem;

            &.hasWarnings {
                background-color: lighten($candlelight, 10%);
            }
            div.btn-log-download {
                background-color: $sea-buckthorn;
            }
            div.btn-package-download {
                background-color: $blue;
            }
            i.material-icons.text-fruit-salad {
                font-size: 16px;
                cursor: pointer;
            }
        }
    }
}

app-modal {
    &.build-modal {
        input, select , select:focus{
            border: 1px $ghost-grey solid;
        }
        span {
            margin-top: 1.8em;
        }
    }
    &.error-modal {
        div.error {
            white-space: pre-wrap;

            i {
                color:$mandy;
            }
        }
    }
    &.success-modal {
        div.success i {
            color:$fruit-salad;
        }
        div.error {
            white-space: pre-wrap;

            i {
                color:$mandy;
            }
        }
    }
    &.view-build-log-modal {
        white-space: pre-line;
        line-height: 2.4rem;
    }
    &.view-build-configuration-modal {
        input, select , textarea, select:focus{
            border: 1px $ghost-grey solid;
            cursor: default;
        }
        input[type=text], textarea {
            width: 73%;
        }
        label {
            width: 27%;
        }
    }
}

