<nav class="navbar sticky-top p-0" [class]="environment">
    <a class="logo m-2" routerLink="/">
        <img class="logo mr-2 p-0" src="/assets/small_logo.png">
        <span class="title">SNOMED CT Release Dashboard <span class="environment rounded px-3 py-2 ml-5" [class]="environment">{{environment === 'prod' ? 'PRODUCTION ENVIRONMENT' : environment + ' ENVIRONMENT' | uppercase}}</span></span>
    </a>

    <ng-container [ngSwitch]="environment">
        <div *ngSwitchCase="'local'" class="banner text-white local"></div>
        <div *ngSwitchCase="'dev'" class="banner text-white dev"></div>
        <div *ngSwitchCase="'uat'" class="banner text-white uat"></div>
        <div *ngSwitchCase="'training'" class="banner text-white training"></div>
        <div *ngSwitchDefault class="banner text-white d-none"></div>
    </ng-container>

    <div *ngIf="user" class="p-2">
        <div class="logout d-inline-block m-2" (click)="logout()">
            <span class="px-2">Logout</span>
        </div>
        <div class="user d-inline-block m-2">
            <span class="px-2">{{user.firstName}} {{user.lastName}}</span>
            <img class="rounded-circle mx-3" src="https://jira.ihtsdotools.org/secure/useravatar?ownerId={{user.login}}">
        </div>
        <div class="user d-inline-block mr-4 notification-container">
            <button id="btnNotification" (click)="toggleNotificationsPane($event)" class="rounded-circle dropdown-toggle" data-toggle="dropdown">
                <i class="fas fa-bell"></i>
                <span ng-cloak *ngIf="totalUnreadNotification > 0" class="message-badge">{{totalUnreadNotification}}</span>
            </button>
            <div class="dropdown-menu" aria-labelledby="btnNotification">
                <div class="message-header clearfix" (click)="$event.stopPropagation()">
                    <div class="float-start message-title ng-scope">Notifications</div>
                    <div class="float-end message-action" >
                        <a role="button" (click)="clearNotifications()" *ngIf="notfications.length != 0" class="ng-scope">Clear</a>
                    </div>
                </div>
                <ul class="message-body">
                    <li class="message-item" *ngFor="let notification of notfications">
                        <div class="message-detail-content" [ngClass]="{'unread': !notification.read}">
                            {{notification.details.message}}
                        </div>
                    </li>
                    <div class="ml-3" *ngIf="notfications.length == 0 && !loadingNotfications">
                        <span>You have no notifications at the moment</span>
                    </div>
                </ul>
                <div class="row pb-3 spinner" *ngIf="loadingNotfications"><span class="spinner-border" role="status"></span></div>
                <div class="row load-more" *ngIf="loadMoreNotficationsEnable && !loadingNotfications"><span (click)="loadMoreNotifications(); $event.stopPropagation()">Load more</span></div>
            </div>
        </div>
    </div>
</nav>
