@import '~src/variables.scss';

nav#sidebar {
    position: fixed;
    width: 24rem;
    height: calc(100vh - 9rem);
    background: $alto-white;

    h3 {
        border-bottom: 1px $ghost-grey solid;
    }

    div.center {
        font-size: 1.4rem;
        width: 100%;
        color: $grey;
        cursor: pointer;
        border-bottom: 1px $ghost-grey solid;

        &:hover {
            background-color: darken($anakiwa, 5%);
        }

        &.active {
            background-color: $anakiwa;

            &:hover {
                background-color: darken($anakiwa, 5%);
            }
        }
    }

    div.sidebar-buttons {
        position: absolute;
        bottom: 0;

        button {
            width: 12rem;
            height: 3rem;
            position: relative;

            &.add {
                background-color: $anakiwa;
                border-top: 1px $ghost-grey solid;

                &:hover {
                    background-color: darken($anakiwa, 5%);
                }
            }

            &.edit {
                background-color: lighten($fruit-salad, 30%);
                border-top: 1px $ghost-grey solid;

                &:hover {
                   background-color: lighten($fruit-salad, 20%);
                }
            }
        }
    }
}

app-modal.add-modal, app-modal.edit-modal {
    input {
        border: 1px $ghost-grey solid;
    }
}
