<nav id="sidebar" class="footer-margin">
    <h3 class="p-3 mb-0">Release Centers  <a href="/regression-test" target="blank" title="Release Regression Test"><i class="material-icons float-right">open_in_new</i></a></h3>
    <div class="centers">
        <div *ngFor="let center of releaseCenters" class="center py-2 px-3"
        (click)="switchActiveReleaseCenter(center)"
        routerLink="/{{center.id}}"
        [class.active]="activeReleaseCenter === center">{{center.name}}</div>
    </div>
    <div class="sidebar-buttons w-100">
        <div class="row no-gutters">
            <div class="col ml-2 mr-2 mb-2">
                <button *ngIf="canAddReleaseCenter()" (click)="addName.value = ''; addShortName.value = ''; addCodeSystem.value = ''; message = ''; openModal('add-modal')" class="btn w-100 add"><i class="fas fa-plus pr-2"></i>ADD</button>
            </div>
            <div class="col mr-2 mb-2">
                <button *ngIf="canAddReleaseCenter()" [disabled]="!activeReleaseCenter" title="Edit Release Center" (click)="message = ''; openModal('edit-modal')" class="btn w-100 edit"><i class="fas fa-pen pr-2"></i>EDIT</button>
            </div>
            <div class="col mr-2 mb-2">
                <button *ngIf="canAddReleaseCenter()" [disabled]="!activeReleaseCenter" title="Remove Release Center" (click)="openModal('remove-release-center-confirmation-modal')" class="btn w-100 delete"><i class="fas fa-times pr-2"></i>DELETE</button>
            </div>
        </div>
    </div>
</nav>

<!-- ADD MODAL -->
<app-modal id="add-modal" class="modal add-modal">
    <h3 header class="mb-0">Create New Release Center</h3>
    <div body class="text-center p-5">
        <p>Please enter the details for the new Release Center</p>

        <div class="col-12">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Name</span>
                </div>
                <input #addName type="text" class="form-control">
            </div>
        </div>

        <div class="col-12">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Short Name</span>
                </div>
                <input #addShortName type="text" class="form-control">
            </div>
        </div>

        <div class="col-12">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Codesystem</span>
                </div>
                <select #addCodeSystem class="form-control">
                    <option value=""></option>
                    <option *ngFor="let codeSystem of codeSystems" [value]="codeSystem.shortName">
                        {{codeSystem.name}}
                    </option>
                </select>
            </div>
        </div>

        <div class="col-12">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">SNOMED CT Product</span>
                </div>
                <input #addSNOMEDCTProduct type="text" class="form-control">
            </div>
        </div>

<!--        <input #addName class="w-75 rounded-lg p-3 m-3" type="text" placeholder="Name">-->
<!--        <input #addShortName class="w-75 rounded-lg p-3 m-3" type="text" placeholder="Short Name" title="Short Name must be unique across system and a single word">-->
<!--        <select #addCodeSystem class="w-75 rounded-lg p-3 m-3">-->
<!--            <option value=""></option>-->
<!--            <option *ngFor="let codeSystem of codeSystems" [value]="codeSystem.shortName">-->
<!--              {{codeSystem.name}}-->
<!--            </option>-->
<!--        </select>-->
<!--        <input #addSNOMEDCTProduct class="w-75 rounded-lg p-3 m-3" type="text" placeholder="SNOMED CT Product">-->
    </div>

    <div footer>
        <button type="button" class="btn" [disabled]="savingCenter" (click)="closeModal('add-modal')">CANCEL</button>
        <button type="button" class="btn accept ml-3" [disabled]="savingCenter" (click)="addReleaseCenter(addName.value, addShortName.value, addCodeSystem.value, addSNOMEDCTProduct.value)">SAVE</button>
    </div>
</app-modal>

<!-- EDIT MODAL -->
<app-modal id="edit-modal" class="modal edit-modal">
    <h3 header class="mb-0">Edit Current Release Center</h3>
    <div body class="text-center p-5">
        <p>Would you like to edit this release center?</p>

        <div class="col-12">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Name</span>
                </div>
                <input #editName type="text" class="form-control" [value]="activeReleaseCenter?.name">
            </div>
        </div>

        <div class="col-12">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Short Name</span>
                </div>
                <input #editShortName type="text" disabled class="form-control" [value]="activeReleaseCenter?.shortName">
            </div>
        </div>

        <div class="col-12">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Codesystem</span>
                </div>
                <select #editCodeSystem class="form-control" [value]="activeReleaseCenter?.codeSystem" [disabled]="!canAddReleaseCenter()">
                    <option value=""></option>
                    <option *ngFor="let codeSystem of codeSystems" [value]="codeSystem.shortName" [selected]="codeSystem.shortName == activeReleaseCenter?.codeSystem">
                        {{codeSystem.name}}
                    </option>
                </select>
            </div>
        </div>

        <div class="col-12">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">SNOMED CT Product</span>
                </div>
                <input #editSnomedCtProduct type="text" class="form-control" [value]="activeReleaseCenter?.snomedCtProduct">
            </div>
        </div>
    </div>
    <div footer>
        <button type="button" class="btn" [disabled]="savingCenter" (click)="closeModal('edit-modal')">CANCEL</button>
        <button type="button" class="btn accept ml-3" [disabled]="savingCenter" (click)="saveReleaseCenter(editName.value, editShortName.value, editCodeSystem.value, editSnomedCtProduct.value)">SAVE</button>
    </div>
</app-modal>

<app-modal id="remove-release-center-confirmation-modal" class="modal add-modal">
    <h3 header class="mb-0">Confirmation</h3>
    <div body class="text-center p-3">
        <p>Do you want to remove the release center '{{activeReleaseCenter?.name}}'?</p>
    </div>
    <div footer>
        <button type="button" class="btn" (click)="closeModal('remove-release-center-confirmation-modal')">CANCEL</button>
        <button type="button" class="btn accept ml-3" (click)="removeReleaseCenter()">ACCEPT</button>
    </div>
</app-modal>

<app-modal id="release-center-success-modal" class="modal success-modal">
    <h3 header class="mb-0">Success</h3>
    <div body class="text-center p-5">
        <div class="text-left success pl-0"><i class="material-icons">check_circle</i>&nbsp;<div class="d-inline position-absolute pt-2">{{message}}</div></div>
    </div>
    <div footer>
        <button type="button" class="btn" (click)="closeModal('release-center-success-modal')">CLOSE</button>
    </div>
</app-modal>

<app-modal id="release-center-error-modal" class="modal error-modal">
    <h3 header class="mb-0">Error</h3>
    <div body class="text-center p-5">
        <div class="text-left error pl-0"><i class="material-icons">cancel</i>&nbsp;<div class="d-inline position-absolute pt-2">{{message}}</div></div>
    </div>
    <div footer>
        <button type="button" class="btn" (click)="closeModal('release-center-error-modal')">CLOSE</button>
    </div>
</app-modal>
