@import 'src/variables.scss';

html {
    font-size: 62.5%;
    position: relative;
    min-height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

body {
    font-family: 'Poppins', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    color: $black;
    letter-spacing: 0.5px;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/Poppins-Thin.ttf');
    font-weight: 100;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/Poppins-ExtraLight.ttf');
    font-weight: 200;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/Poppins-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/Poppins-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/Poppins-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/Poppins-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/Poppins-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/Poppins-ExtraBold.ttf');
    font-weight: 800;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/Poppins-Black.ttf');
    font-weight: 900;
}

h1 {
    font-size: 2.4rem;
    font-weight: 300;
}

h2 {
    font-size: 1.8rem;
    font-weight: 300;
}

h3 {
    font-size: 1.6rem;
    font-weight: 300;
}

h4 {
    font-size: 1.4rem;
    font-weight: 300;
}

.w-5 {
    width: 5%;
}

.w-8 {
    width: 8%;
}

.w-9 {
    width: 9%;
}

.w-10 {
    width: 10%;
}

.w-12 {
    width: 12%;
}
.w-13 {
    width: 13%;
}
.w-15 {
    width: 15%;
}

.max-vw-15 {
    max-width: 15% !important;
}

div, p, a, select, label {
    font-size: 1.2rem;
    font-weight: 300;
}

table {
    tr:first-child {
        background-color: #E0E0E0;
    }
}
button {
    border-radius: 0.4rem;
    color: $white;
    height: 3rem;
    font-weight: 500;

    &:disabled {
        color: $grey;
    }

    &.btn-circle {
        width: 3rem;
        height: 3rem;
        padding: 0.3rem 0rem;
        border-radius: 1.5rem;
        text-align: center;
        color: $white;
    }
    &.btn-blue {
        background-color: $blue;
        &:hover {
            background-color: darken($blue, 5%);
        }
        &:disabled {
            background-color: lighten($blue, 30%);
            &:hover {
                background-color: lighten($blue, 30%);
            }
        }
    }
    &.btn-green {
        background-color: $green;
        &:hover {
            background-color: darken($green, 5%);
        }
        &:disabled {
            background-color: lighten($green, 30%);
            &:hover {
                background-color: lighten($green, 30%);
            }
        }
    }
    &.btn-light-red {
        background-color: #f85c4d;
        &:hover {
           background-color: darken(#f85c4d, 5%);
        }
    }
    &.btn-mandy {
        background-color: $mandy;
        &:hover {
           background-color: darken($mandy, 5%);
        }
        &:disabled {
            background-color: lighten($mandy, 20%);
            &:hover {
                background-color: lighten($mandy, 20%);
            }
        }
    }
    &.btn-sea-buckthorn {
        background-color: $sea-buckthorn;
        &:hover {
            background-color: darken($sea-buckthorn, 5%);
        }
        &:disabled {
            background-color: lighten($sea-buckthorn, 20%);
            &:hover {
                background-color: lighten($sea-buckthorn, 20%);
            }
        }
    }
    &.btn-grey {
        background-color: $grey;
        &:hover {
            background-color: darken($grey, 5%);
        }
        &:disabled {
            background-color: lighten($grey, 20%);
            &:hover {
                background-color: lighten($grey, 20%);
            }
        }
    }
}
input, textarea {
    font-weight: 300;
}

button, input, textarea {
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    border: none;
    resize: none;

    &:focus, &:active {
        outline: none !important;
    }

    &:hover {
        cursor: pointer;
    }

    &.btn {
        font-size: 1.2rem;
        letter-spacing: 1.5px;
    }
}

ngb-typeahead-window.dropdown-menu {
    max-width: 30vw;
    font-size: 1.2rem;
    overflow-y: hidden;

    button.dropdown-item {
        font-weight: 300;
    }
}

.loading:after {
    content: '.';
    animation: black-dots 1s steps(5, end) infinite;
}

@keyframes black-dots {
    0%, 20% {
      color: rgba(0,0,0,0);
      text-shadow:
        .25em 0 0 rgba(0,0,0,0),
        .5em 0 0 rgba(0,0,0,0);
    }
    40% {
      color: $black;
      text-shadow:
        .25em 0 0 rgba(0,0,0,0),
        .5em 0 0 rgba(0,0,0,0);
    }
    60% {
      text-shadow:
        .25em 0 0 $black,
        .5em 0 0 rgba(0,0,0,0);
    }
    80%, 100% {
      text-shadow:
        .25em 0 0 $black,
        .5em 0 0 $black;
    }
}

@keyframes white-dots {
    0%, 20% {
      color: rgba(0,0,0,0);
      text-shadow:
        .25em 0 0 rgba(0,0,0,0),
        .5em 0 0 rgba(0,0,0,0);
    }
    40% {
      color: $white;
      text-shadow:
        .25em 0 0 rgba(0,0,0,0),
        .5em 0 0 rgba(0,0,0,0);
    }
    60% {
      text-shadow:
        .25em 0 0 $white,
        .5em 0 0 rgba(0,0,0,0);
    }
    80%, 100% {
      text-shadow:
        .25em 0 0 $white,
        .5em 0 0 $white;
    }
}

div.badge {
    vertical-align: baseline;
    box-shadow: none;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    border-radius: 10px;
    min-width: 10px;
    color: #FFF;
    font-weight: 400;
    font-size: 13px;
    padding: 5px 7px;
    margin: 5px;
    line-height: 12px;

    &.loading:after {
        animation: white-dots 1s steps(5, end) infinite;
    }
}
//
//.local {
//    background-color: $river-bed;
//    color: #fff;
//    a span {
//        color: #fff;
//    }
//}
//
//.dev {
//    background-color: $mandy;
//    color: #fff;
//    a span {
//        color: #fff;
//    }
//
//    &.footer {
//        a {
//            color: #fff;
//        }
//    }
//}
//
//.uat {
//    background-color: $sea-buckthorn;
//    color: #fff;
//    a span {
//        color: #fff;
//    }
//
//    &.footer {
//        a {
//            color: #fff;
//        }
//    }
//}
//
//.prod {
//    background-color : $blue;
//    color: #fff;
//    a span {
//        color: #fff;
//    }
//
//    &.footer {
//        a {
//            color: #fff;
//        }
//    }
//}
.table-sortable tr > th {
    cursor: pointer;
    position: relative;
}

.table-sortable tr > th > .priority {
    position: absolute;
    right: 11px;
    top: 0;
    font-size: 10px;
    font-weight: 300;
}

.table-sortable tr > th > .clear-sort > i {
    position: absolute;
    right: 0;
    font-size: 10px;
    top: 2px;
    color: grey;
}

.table-sortable tr > th > .clear-sort > i:hover {
    color: unset;
}

.table-sortable tr > th:after,
.table-sortable tr > th:after,
.table-sortable tr > th:after {
    content: ' ';
    position: absolute;
    height: 0;
    width: 0;
    right: 5px;
    top: 16px;
}

.table-sortable tr > th.asc:after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 0px solid transparent;
    border-bottom: 4px solid #333;
}

.table-sortable tr > th.asc:hover:after {
    border-bottom: 5px solid #888;
}

.table-sortable tr > th.desc:after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #333;
    border-bottom: 4px solid transparent;
}

.table-sortable tr > th.sortable:after {
    border: 4px solid transparent;
    content: "";
    display: block;
    height: 0;
    right: 5px;
    top: 50%;
    position: absolute;
    width: 0;
    border-top-color: grey;
    margin-top: 1px

}
.table-sortable tr > th.sortable:before {
    border: 4px solid transparent;
    content: "";
    display: block;
    height: 0;
    right: 5px;
    top: 50%;
    position: absolute;
    width: 0;
    border-bottom-color: grey;
    margin-top: -9px;
}

div.cdk-overlay-container {
    z-index: 1200;

    .mat-tooltip {
        font-size: 1.2rem;
        font-weight: 400;
        color: $white !important;
        max-width: 30rem !important;
    }
}
.mat-datepicker-toggle {
    position: absolute; 
    right: 0px; 
    top: 0px;
    height: 26px;
    display: none;

    .mdc-icon-button {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        width: 26px;
        height: 26px;
    }
}
