@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~material-design-icons/iconfont/material-icons.css';
@import '~src/variables.scss';

html {
    font-size: 62.5%;
    position: relative;
    min-height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

body {
    font-family: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    color: $black;
    letter-spacing: 0.5px;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/Roboto-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/Roboto-Regular.ttf');
}

h2 {
    font-size: 1.8rem;
    font-weight: 300;
}

h3 {
    font-size: 1.6rem;
    font-weight: 300;
}

h4 {
    font-size: 1.4rem;
    font-weight: 300;
}

div, p, a, select, label {
    font-size: 1.2rem;
    font-weight: 300;
}

button {
    border-radius: 0.4rem;
    color: $white;
    height: 3rem;    
        
    &:disabled {
        color: $grey;
    }

    &.btn-circle {
        width: 3rem;
        height: 3rem;
        padding: 0.3rem 0rem;
        border-radius: 1.5rem;
        text-align: center;
        color: $white;
        font-weight: 500;
    }
    &.btn-add {            
        background-color: $blue;
        font-weight: 500;
        &:hover {
            background-color: darken($blue, 5%);
        }
        &:disabled {
            background-color: lighten($blue, 30%);
            &:hover {
                background-color: lighten($blue, 30%);
            } 
        }
    }
    &.btn-edit {
        background-color: $green;
        font-weight: 500;
        &:hover {
            background-color: darken($green, 5%);
        }
        &:disabled {
            background-color: lighten($green, 30%);
            &:hover {
                background-color: lighten($green, 30%);
            }
        }
    }
    &.btn-delete {
        background-color: $mandy;
        font-weight: 500; 
        &:hover {
           background-color: darken($mandy, 5%);
        }
        &:disabled {
            background-color: lighten($mandy, 20%);
            &:hover {
                background-color: lighten($mandy, 20%);
            } 
        }
    }
    &.btn-cancel {
        background-color: $sea-buckthorn;
        font-weight: 500;
        &:hover {
            background-color: darken($sea-buckthorn, 5%);
        }
        &:disabled {
            background-color: lighten($sea-buckthorn, 20%);
            &:hover {
                background-color: lighten($sea-buckthorn, 20%);
            } 
        }
    }
}

button, input, textarea {
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 0.5px;
    border: none;
    resize: none;

    &:focus, &:active {
        outline: none !important;
    }

    &:hover {
        cursor: pointer;
    }

    &.btn {
        font-size: 1.2rem;
        letter-spacing: 1.5px;
    }
}

ngb-typeahead-window.dropdown-menu {
    max-width: 30vw;
    font-size: 1.2rem;
    overflow-y: hidden;

    button.dropdown-item {
        font-weight: 300;
    }
}
